<div class="reveal white" id="newsletter" data-reveal>

  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 medium-12 cell text-center">
      <h2>Stay up-to-date</h2>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="small-12 medium-12 cell text-center">
      Join the growing community of OpenOwnership champions and innovators. You will receive regular updates on what’s happening around the world, exciting tools and latest research.
    </div>
  </div>

  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 medium-12 cell">
  

      <form action="https://openownership.us19.list-manage.com/subscribe/post?u=5a522bc71b24b7202b6bf2c95&amp;id=57602bb40c" method="post" data-abide novalidate>
    
        <div data-abide-error class="alert callout" style="display: none;">
          <p><i class="fi-alert"></i>There are some errors in your form.</p>
        </div>
      
      <div class="grid-x grid-padding-x">

      <div class="small-12 medium-6 cell">
      <label>First Name
        <input type="text" name="FNAME" placeholder="First Name">
      </label>
      </div>

      <div class="small-12 medium-6 cell">
        <label>Last Name
          <input type="text" name="LNAME" placeholder="Last Name">
        </label>
      </div>

      <div class="small-12 medium-12 cell">
        <label>Email — Required
          <input type="email" name="EMAIL" placeholder="your@email.com" required pattern="email">
        </label>
      </div>
      
      <div class="small-12 medium-12 cell">

<fieldset class="fieldset">
  <legend>Let us know how you would like to hear from us</legend>
  <input id="checkbox12" type="checkbox" name="gdpr[32157]" value="Y" required><label for="checkbox12">Email</label>
</fieldset>

      </div>
      
      <div class="small-12 medium-12 cell">
      <small>We will treat your information with respect. You can change your mind at any time by clicking the unsubscribe link in the footer of any email you receive from us, or by contacting us at <a href="mailto:support@openownership.org" target="_blank">support@openownership.org</a>. For more information about our privacy practices please visit our website. By subscribing, you agree to receive the selected emails from us.</small>
      </div>

      <div class="small-12 medium-12 cell">
      <small>We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more about Mailchimp's privacy practices here.</a></small> 
      </div>

      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5a522bc71b24b7202b6bf2c95_57602bb40c" tabindex="-1" value=""></div>

      <div class="small-12 medium-12 cell padding-top-2">
        <input type="submit" class="button expanded white" value="Submit" name="subscribe">
      </div>

      </div>

      </form>
  
    </div>
  </div>

  <button class="close-button" data-close aria-label="Close reveal" type="button">
  <svg class="icon icon-x"><use xlink:href="/assets/icons/symbol-defs.svg#icon-x"></use></svg>
  </button>

</div>