<img data-interchange=
"
[{{ image | imgix_url: w: 640, h: 360, fit: "max", auto: "format", auto: "compress", lossless: "true", q: 50, fit: "crop", dpr: 1}}, small]
[{{ image | imgix_url: w: 1024, h: 576, fit: "max", auto: "format", auto: "compress", lossless: "true", q: 40, fit: "crop", dpr: 1}}, medium]
[{{ image | imgix_url: w: 1200, h: 675, fit: "max", auto: "format", auto: "compress", lossless: "true", q: 50, fit: "crop", dpr: 1}}, large]
[{{ image | imgix_url: w: 1440, h: 810, fit: "max", auto: "format", auto: "compress", lossless: "true", q: 50, fit: "crop", dpr: 1}}, xlarge]
"
>
