data-interchange="
[{{background-image | imgix_url: w: 640, auto: "format", q: 50, dpr: 2, exp:-1.5, usm: 0, usmrad: 0}}, small],
[{{background-image | imgix_url: w: 1024, auto: "format", q: 40, dpr: 2, exp:-1.5, usm: 0, usmrad: 0}}, medium]
[{{background-image | imgix_url: w: 1200, auto: "format", q: 40, dpr: 2, exp:-1.5, usm: 0, usmrad: 0}}, large]
[{{background-image | imgix_url: w: 1440, auto: "format", q: 40, dpr: 2, exp:-1.5, usm: 0, usmrad: 0}}, xlarge]
[{{background-image | imgix_url: w: 1440, auto: "format", q: 30, dpr: 2, exp:-1.5, usm: 0, usmrad: 0}}, xxlarge]"
