[{{ image | imgix_url: w: 640, fit: "facearea", facepad: "3", ch: "Width", ch: "DPR", cs: "tinysrgb", dpr: 1, auto: "format, compress"}}, small],
[{{ image | imgix_url: w: 640, fit: "facearea", facepad: "3", ch: "Width", ch: "DPR", cs: "tinysrgb", dpr: 2, auto: "format, compress"}}, retina],
[{{ image | imgix_url: w: 212, fit: "facearea", facepad: "3", ch: "Width", ch: "DPR", cs: "tinysrgb", dpr: 1, auto: "format, compress"}}, medium],
[{{ image | imgix_url: w: 212, fit: "facearea", facepad: "3", ch: "Width", ch: "DPR", cs: "tinysrgb", dpr: 2, auto: "format, compress"}}, medium-retina],
[{{ image | imgix_url: w: 342, fit: "facearea", facepad: "3", ch: "Width", ch: "DPR", cs: "tinysrgb", dpr: 1, auto: "format, compress"}}, large],
[{{ image | imgix_url: w: 342, fit: "facearea", facepad: "3", ch: "Width", ch: "DPR", cs: "tinysrgb", dpr: 2, auto: "format, compress"}}, large-retina],
[{{ image | imgix_url: w: 480, fit: "facearea", facepad: "3", ch: "Width", ch: "DPR", cs: "tinysrgb", dpr: 1, auto: "format, compress"}}, xlarge],
[{{ image | imgix_url: w: 480, fit: "facearea", facepad: "3", ch: "Width", ch: "DPR", cs: "tinysrgb", dpr: 2, auto: "format, compress"}}, xlarge-retina],
[{{ image | imgix_url: w: 480, fit: "facearea", facepad: "3", ch: "Width", ch: "DPR", cs: "tinysrgb", dpr: 1, auto: "format, compress"}}, xxlarge],
[{{ image | imgix_url: w: 480, fit: "facearea", facepad: "3", ch: "Width", ch: "DPR", cs: "tinysrgb", dpr: 2, auto: "format, compress"}}, xxlarge-retina],
