[{{ image | imgix_url: w: 640, fit: "crop", auto: "format", auto: "compress", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 1}}, small],
[{{ image | imgix_url: w: 640, fit: "crop", auto: "format", auto: "compress", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 2}}, retina],
[{{ image | imgix_url: w: 1024, fit: "crop", auto: "format", auto: "compress", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 1}}, medium],
[{{ image | imgix_url: w: 1024, fit: "crop", auto: "format", auto: "compress", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 2}}, medium-retina],
[{{ image | imgix_url: w: 1200, fit: "crop", auto: "format", auto: "compress", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 1}}, large],
[{{ image | imgix_url: w: 1200, fit: "crop", auto: "format", auto: "compress", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 2}}, large-retina],
[{{ image | imgix_url: w: 1440, fit: "crop", auto: "format", auto: "compress", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 1}}, xlarge],
[{{ image | imgix_url: w: 1440, fit: "crop", auto: "format", auto: "compress", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 2}}, xlarge-retina],
[{{ image | imgix_url: w: 1440, fit: "crop", auto: "format", auto: "compress", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 1}}, xxlarge],
[{{ image | imgix_url: w: 1440, fit: "crop", auto: "format", auto: "compress", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 2}}, xxlarge-retina]