[{{ image | imgix_url: w: 640, fit: "crop", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 1,  auto: "format, compress"}}, small],
[{{ image | imgix_url: w: 640, fit: "crop", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 2,  auto: "format, compress"}}, retina],
[{{ image | imgix_url: w: 1024, fit: "crop", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 1,  auto: "format, compress"}}, medium],
[{{ image | imgix_url: w: 1024, fit: "crop", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 2,  auto: "format, compress"}}, medium-retina],
[{{ image | imgix_url: w: 1200, fit: "crop", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 1,  auto: "format, compress"}}, large],
[{{ image | imgix_url: w: 1200, fit: "crop", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 2,  auto: "format, compress"}}, large-retina],
[{{ image | imgix_url: w: 1440, fit: "crop", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 1,  auto: "format, compress"}}, xlarge],
[{{ image | imgix_url: w: 1440, fit: "crop", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 2,  auto: "format, compress"}}, xlarge-retina],
[{{ image | imgix_url: w: 1440, fit: "crop", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 1,  auto: "format, compress"}}, xxlarge],
[{{ image | imgix_url: w: 1440, fit: "crop", ch: "Width", ch: "DPR", cs: "tinysrgb", fit: "crop", dpr: 2,  auto: "format, compress"}}, xxlarge-retina]