<div class="grid-container padding-bottom-3">
  <div class="grid-x grid-padding-x">
  
    <div class="small-12 medium-6 cell">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button hollow expanded">
          <svg class="icon icon-arrow icon-arrow-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-left"></use></svg> Newer
        </a>
      {% endif %}
    </div>
    
    
    <div class="small-12 {% if paginator.previous_page %}medium-6{% endif %} cell text-right">
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button hollow expanded">
          Older <svg class="icon icon-arrow icon-arrow-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use></svg>
      </a>
      {% endif %}
    </div>
  
  </div>
</div>