<!-- Subscribe -->
<div class="grid-container margin-top-2 margin-bottom-2" data-aos="fade-in">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-11 medium-8 cell text-center">
      <h3 class="primary-font text-uppercase">Stay in touch</h3>
      <p>Stay in the know about our latest events and specials</p>
      <form action="https://bornandraisedpizza.us13.list-manage.com/subscribe/post?u=656f6cbb55c58e64f6ee299e9&amp;id=7aedd6f522" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
        <div class="input-group">
          <input class="input-group-field" type="email" name="EMAIL" class="" id="mce-EMAIL" placeholder="signup@email.com">
          <div class="input-group-button"><input type="submit" class="button" value="Submit"></div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Subscribe -->