@font-face {
  font-family: 'Basis Regular';
  src: 
  url('../fonts/basis-grotesque-regular.woff2') format('woff2'), 
  url('../fonts/basis-grotesque-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Mono';
  src: 
  url('../fonts/basis-grotesque-mono.woff2') format('woff2'), 
  url('../fonts/basis-grotesque-mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}