.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: bottom;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-global-witness {
  width: 1.6669921875em;
}

.icon-one {
  width: 1.02734375em;
}

.icon-open-contracting-partnership {
  width: 1.97265625em;
}

.icon-open-corporates {
  width: 7.2919921875em;
}

.icon-the-b-team {
  width: 5.4169921875em;
}

.icon-transparency-international {
  width: 4.4443359375em;
}

.icon-uk-aid {
  width: 0.9033203125em;
}

.icon-logo-main {
  width: 3.96484375em;
}

.icon-logo-strapline {
  width: 2.4912109375em;
}

.icon-twitter {
  width: 0.9287109375em;
}

.icon-logo-main {
  font-size: 4rem;
}

.icon-logo-strapline {
  font-size: 4rem;
}

.icon-socials {
  font-size: 1rem;
}