//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Plugins
//   4. Color
//   5. Typography
//   6. Navigation
//   7. Off-canvas
//   8. Layout
//   9. Home
//   10. Menu / Food
//   11. Find Us
//   12. Story
//   13. Hire Us
//   14. Contact
//   15. Page
//   16. Footer


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
  font-kerning: normal;
}

svg {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $white;
}

:focus {
  outline: 0;
}

.menu .menu-text {
  font-weight: normal;
}

.border-top {
  border-top: 1px solid $light-gray;
}

.border-bottom {
  border-bottom: 2px solid $dark-gray;
}

.button {
line-height: 1.4;
}

// 4. Color
// --------

.white {
  color: $white;
  @include links ($medium-gray, $primary-color);
}

.medium-gray {
  color: $medium-gray;
}

.light-gray {
  color: $light-gray;
}

.primary-color {
  color: get-color(primary);
}

.secondary-color {
  color: get-color(secondary);
}

.primary-background {
  background-color: $dark-blue;
  color: $white;
}

.secondary-background {
  background-color: $grey-blue;
  color: $white;
}

.light-gray-background {
  background-color: $light-gray;
}

.snow-background {
  background-color: #f4f7f8;
}

// 5. Typography
// -------------

strong, b {
font-family: $sans-bold;
}

a {
  transition: color .35s cubic-bezier(.39, .575, .565, 1);
}

.underline {
  border-bottom: 1px solid get-color(primary);
}

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

p {
  a {
    border-bottom: 1px solid get-color(primary);
    transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
    &:hover {
      border-bottom: 1px solid transparent;   
    }
  }
}

.sans-regular {
  font-family: $sans-regular;
}

.sans-bold {
  font-family: $sans-bold;
}

.serif-regular {
  font-family: $serif-regular;
}

.serif-italic {
  font-family: $serif-italic;
}

.serif-headline {
  font-family: $serif-headline;
}

// X. Header
// ---------

.header {
  .active a {
    border-bottom: 3px solid #3C31D4;
  }
}

.header__top {
  border-bottom: 2px solid $dark-gray;
  font-size: 90%;
}

.header__bottom {
  @include padding(1);
  @include breakpoint(medium) {
  @include padding(1, 1, 1, 1);
  }
}

.header__navigation {
  a {
    border-bottom: 2px solid transparent;
    color: $medium-gray;
    &:hover {
      color: $white; 
    }
  }
}

.header__navigation .external {
  a {
    color: $green;
    &:hover {
      color: $white;   
    }
  }
}

.header__social {
  font-family: $serif-italic;
  color: $medium-gray;
  a {
    color: $white;
    &:hover {
      color: $primary-color;   
    }
  }
}

.hamburger-inner {
  &,
  &::before,
  &::after {
    background-color: $white;
  }
}

// X. Images
// ---------

.image--feature {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 25vh;
}

.image--resource {
  box-shadow: 4px 4px 0px $primary-color;
}

.home ol li p, .home ol {
  font-size: 14px;
}

// X. Offcanvas
// ---------

.offcanvas {
  @include links ($white, $primary-color);
}

.offcanvas p {
  @include links ($white, $primary-color);
  color: $white;
}

.offcanvas .menu .active a {
  color: $primary-color;
}

.offcanvas .menu a, .offcanvas .menu .menu-text {
  padding: 0.5rem 0.25rem;
}

.offcanvas .external {
  a {
    color: $green;
    &:hover {
      color: $white;   
    }
  }
}

.offcanvas .icon-socials {
  font-size: 1.5rem;
}

.home__description__left {
  @include padding(1.5, 1.5, 1.5, 1.5);
  @include breakpoint(medium) {
  @include padding(3, 3, 3, 3);
  }
}

.home__why {
  @include padding(1.5, 0, 1.5, 0);
  @include breakpoint(medium) {
  @include padding(3, 3, 3, 3);
  }
}

// X. News
// ---------

h2 {
  @include links ($black, $primary-color);
}

// X. Sponsors
// -----------

.sponsors {
  color: $medium-gray;
  @include links ($medium-gray, $dark-blue);
  border-top: 1px solid $light-gray;
  background-color: $white;
}

.sponsors .icon {
  font-size: 3rem;
}

/*
.sponsors .icon-open-contracting-partnership {
  font-size: 4rem;
}
*/

.sponsors .icon-uk-aid {
  font-size: 4rem;
}

// X. Footer
// ---------

footer {
  font-size: 90%;
  @include links ($white, $primary-color);
}

footer .menu .active a {
  color: $primary-color;
}

footer .menu a, footer .menu .menu-text {
  padding: 0.5rem 1rem 0.5rem 0rem;
}

.team__members {
  @include links ($medium-gray, $primary-color);
}

.team__members .icon-socials {
  font-size: 1.5rem;
}

.external a svg {
  transition: transform 0.25s; 
}

.external a:hover svg {
  transform: translate(5px, 0);
}

.guide {
background-color: #f4f7f8;
// background-color: scale-color(get-color(snow), $lightness: 50%);
}

.guide-page {
background-color: #f4f7f8;
// background-color: scale-color(get-color(snow), $lightness: 50%);
}

.what-we-do {
background-color: #f4f7f8;
// background-color: scale-color(get-color(snow), $lightness: 50%);
}

.get-involved {
background-color: #f4f7f8;
// background-color: scale-color(get-color(snow), $lightness: 50%);
}

.connect {
background-color: #f4f7f8;
// background-color: scale-color(get-color(snow), $lightness: 50%);
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
height: 100%;
width: 100%;
  }
}

.image {
  @include aspect-ratio (16, 9);
  background-size: cover; 
  background-position: 50%;
  background-color: $light-gray;
}

.image--square {
  @include aspect-ratio (1, 1);
  background-size: cover; 
  background-position: 50%;
  background-color: $light-gray;
}

.shadow {
  transition: box-shadow 0.25s;
  box-shadow: 5px 5px 0px $primary-color;
  &:hover {
  box-shadow: 5px 5px 0px $medium-gray;
  }
}

.page__title {
  @include padding(1.5, null, null, null);
  @include breakpoint(small only) {
  @include padding(1.5, 1.5, 1.5, 1.5);
  }
  @include breakpoint(medium) {
  @include padding(2, null, null, null);
  }
}

.label:hover {
  color: rgba($white, 0.75);
}

/*
.reveal label {
  color: $medium-gray;
}
*/

.guide__page  {
  border-top: 1rem solid #3C31D5;
}
