//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Plugins
//   4. Color
//   5. Typography
//   6. Navigation
//   7. Off-canvas
//   8. Layout
//   9. Home
//   10. Menu / Food
//   11. Find Us
//   12. Story
//   13. Hire Us
//   14. Contact
//   15. Page
//   16. Footer


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
  font-kerning: normal;
}

svg {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $white;
}

:focus {
  outline: 0;
}

.menu .menu-text {
  font-weight: normal;
}

.border-top {
  border-top: 1px solid $light-gray;
}

// 3. Plugins
// ----------

.turbolinks-progress-bar {
  height: 5px;
  background-color: $black;
}


// 4. Color
// --------

.white {
  color: $white;
}

.medium-gray {
  color: $medium-gray;
}

.light-gray {
  color: $light-gray;
}

.primary-color {
  color: get-color(primary);
}

.secondary-color {
  color: get-color(secondary);
}

.primary-background {
  background-color: $dark-blue;
  color: $white;
}

.secondary-background {
  background-color: $grey-blue;
  color: $white;
}

// 5. Typography
// -------------

strong, b {
font-family: $sans-bold;
}

a {
  transition: color .35s cubic-bezier(.39, .575, .565, 1);
}

.underline {
  border-bottom: 1px solid get-color(primary);
}

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

p {
  a {
    border-bottom: 1px solid get-color(primary);
    transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
    &:hover {
      border-bottom: 1px solid transparent;   
    }
  }
}

.sans-regular {
  font-family: $sans-regular;
}

.sans-bold {
  font-family: $sans-bold;
}

.serif-regular {
  font-family: $serif-regular;
}

.serif-italic {
  font-family: $serif-italic;
}

.serif-headline {
  font-family: $serif-headline;
}

// X. Header
// ---------

.header {
  .active a {
    border-bottom: 2px solid #3C31D4;
  }
}

.header__top {
  border-bottom: 1px solid $dark-gray;
  font-size: 14px;
}

.header__navigation {
  a {
    color: $medium-gray;
    &:hover {
      color: $white;   
    }
  }
}

.header__navigation .external {
  a {
    color: $green;
    &:hover {
      color: $white;   
    }
  }
}

.header__social {
  font-family: $serif-italic;
  color: $medium-gray;
  a {
    color: $white;
    &:hover {
      color: $white;   
    }
  }
}

.hamburger-inner {
  &,
  &::before,
  &::after {
    background-color: $white;
  }
}

// X. Images
// ---------

.image--feature {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 25vh;
}

.home ol li p, .home ol {
  font-size: 14px;
}

// X. News
// ---------

.news h2 {
  @include links ($black, $primary-color);
}

// X. Footer
// ---------

footer {
  font-size: 14px;
  @include links ($white, $dark-blue);
  background-color: red;
}

footer .active a {
  color: red;
}

footer .menu a, footer .menu .menu-text {
  padding: 0.5rem 0rem;
}

.sponsors {
  color: $medium-gray;
  @include links ($medium-gray, $dark-blue);
  border-top: 1px solid $light-gray;
}

.sponsors .icon {
  font-size: 1.75rem;
}

.sponsors .icon-uk-aid {
  font-size: 3rem;
}