//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Plugins
//   4. Color
//   5. Typography
//   6. Navigation
//   7. Off-canvas
//   8. Layout
//   9. Home
//   10. Menu / Food
//   11. Find Us
//   12. Story
//   13. Hire Us
//   14. Contact
//   15. Page
//   16. Footer


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;
    }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
  font-kerning: normal;
}

html {
  scroll-behavior: smooth;
}

svg {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $white;
}

:focus {
  outline: 0;
}

.menu .menu-text {
  font-weight: normal;
}

.border-top {
  border-top: 1px solid $light-gray;
}

.border-bottom {
  border-bottom: 1px solid $light-gray;
}

.button {
line-height: 1.4;
}

img.small {
  width: 30em
}

// 4. Color
// --------

.white {
  color: $white;
  @include links ($medium-gray, $primary-color);
}

.black {
  color: $black;
  @include links ($black, $medium-gray);
  sup {
    color: $medium-gray;
  }
}

.medium-gray {
  color: $medium-gray;
  @include links ($medium-gray, $primary-color);
}

.light-gray {
  color: $light-gray;
}

.primary-color {
  color: get-color(primary);
}

.secondary-color {
  color: get-color(secondary);
}

.primary-background {
  background-color: $dark-blue;
  color: $white;
}

.secondary-background {
  background-color: $grey-blue;
  color: $white;
}

.light-gray-background {
  background-color: $light-gray;
}

.snow-background {
  background-color: #f4f7f8;
}

.whiteout {
  background-color: transparentize($color: #fff, $amount: 0.03)
}

.home-background-primary {
  background: $primary-color url('/assets/img/world.svg') center center/cover no-repeat fixed;
  color: $white;

  h1 a {
    color: $white;
    border-bottom: 1px solid $white     
  }
}

.home-background-secondary {
  background: #fff  url('/assets/img/world.svg') center center/cover no-repeat fixed;
}

// 5. Typography
// -------------

strong, b {
font-family: $sans-bold;
}

a {
  transition: color .35s cubic-bezier(.39, .575, .565, 1);
}

.underline {
  border-bottom: 1px solid get-color(primary);
}

.uppercase {
  text-transform: uppercase;
}

@mixin underline-links {
  a {
    border-bottom: 1px solid get-color(primary);
    transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}

@mixin underline-links-invert {
  a {
    border-bottom: 1px solid transparent;
    transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
    &:hover {
      border-bottom: 1px solid get-color(primary);
    }
  }
}

p {
  @include underline-links;
}

.text-body {
  @include underline-links;
}

.sans-regular {
  font-family: $sans-regular;
}

.sans-bold {
  font-family: $sans-bold;
}

.serif-regular {
  font-family: $serif-regular;
}

.serif-italic {
  font-family: $serif-italic;
}

.serif-headline {
  font-family: $serif-headline;
}

.text-body {
  li {
    margin-top: 0.4em
  }
}

.text-with-sections {

  h1, h2 {
    margin-top: 4rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid get-color(primary);
  }

  h3, h4, h5, h6 {
    margin-top: 2rem;
  }

  h4, h5, h6 {
    font-family: $sans-regular;
  }

  h5, h6 {
    color: $grey-blue
  }

}

// Override Foundation's core styles for lists
dl dt {
  margin-top: 0.75rem;
  font-family: $sans-bold
}
dl dd {
  margin-left: 1rem
}

// Add rule to Foundation table styling to bold header rows
thead tr:first-child th {
  font-weight: bold;
}

// Add override for button appearing in a table cell
td .button { margin-bottom: 0 }

// Prettier TOC
#markdown-toc {
  @include underline-links-invert();

  font-size: 90%;
  list-style: none;
  margin-left: 0;
  border-left: 1px solid lighten(get-color(secondary), 25%);
  padding-left: 1rem;
  margin: 1rem 0;

  &:before {
    content: 'On This Page';
    display: block;
    font-size: 110%;
    font-family: $sans-bold;
  }
}

// Prettier footnotes
.footnotes {
  font-size: 85%;
  margin-top: 3rem;
  padding: 1rem;
  background-color: #E9ECED
}

figure {
  margin: 3rem 0;
}

figcaption {
  font-family: $sans-bold;
  margin-bottom: 1rem
}

blockquote p:last-child { margin-bottom: 0 }

// Blockquotes with classes are a good way to create boxes in Markdown
blockquote.resources-box {
  padding: 1rem;
  background-color: $white;
  outline: 1px solid #e6ecef;
  border-left: 4px solid $primary-color;
  margin: 2rem 0;

  // Use to give the box a heading
  h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: $sans-bold;
    line-height: $line-height--tighter;
    font-size: 1rem;
  }
}

blockquote.aside {
  padding: 1rem;
  border: 1px solid $primary-color;
  margin: 2rem 0;

  // Use to give the box a heading
  h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-size: 1.1rem;
  }
}

hr {
  margin: 3rem 0
}


// X. Header
// ---------

.header {
  .active > a {
    border-bottom: 3px solid #3C31D4;
  }
}

.menu a:not([href]) { cursor: default }

.header__top {
  border-bottom: 2px solid $dark-gray;
  font-size: 90%;
}

.header__bottom {
  @include padding(1);
  @include breakpoint(medium) {
  @include padding(1, 1, 1, 1);
  }
}

.header__navigation {
  a {
    border-bottom: 2px solid transparent;
    color: $light-gray;
    &:hover {
      color: $primary-color;
    }
  }
}

.header__social {
  font-family: $serif-italic;
  color: $medium-gray;
  a {
    color: $white;
    &:hover {
      color: $primary-color;
    }
  }
}

.hamburger-inner {
  &,
  &::before,
  &::after {
    background-color: $white;
  }
}

// X. Images
// ---------

$shadow-dimensions: 4px 4px 0px;

.image--feature {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  min-height: 25vh;
}

.image--resource {
  box-shadow: $shadow-dimensions $primary-color;
  &.web-resource {
    box-shadow: none;
  }
}

.home ol li p, .home ol {
  font-size: 14px;
}

// X. Offcanvas
// ---------

.offcanvas {
  @include links ($white, $primary-color);
}

.offcanvas p {
  @include links ($white, $primary-color);
  color: $white;
}

.offcanvas .menu .active > a {
  color: $primary-color;
}

.offcanvas .menu a, .offcanvas .menu .menu-text {
  padding: 0.5rem 0.25rem;
}

.offcanvas .icon-socials {
  font-size: 1.5rem;
}

// X. Homepage
//------------

.home__intro {
  // Calculated to line up with the other items in the header like the logo
  // and give a bit more vertical space from the header
  @include padding(0, 2, 2, 2);
}

.home__whats {
  // Calculated to be the same as with other sections on the homepage, but
  // accounting for the existing top padding on the cells within
  @include padding(0.5, 1.5, 1.5, 1.5);
  @include breakpoint(medium) {
    @include padding(2, 3, 3, 3);
  }
}

.home__what {
  @extend .h5;
  @extend .sans-regular;
  padding-top: 0;
}

.home__what__title {
  display: block;
  margin-bottom: 1rem;
  width: auto;
}

.home__what__title__inner {
  font-size: 1.75rem;
  font-family: $serif-headline;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid $primary-color;
}

.home__featured__post {
  .image {
    margin-bottom: 1rem;
  }

  a {
    color: $black;
    &:hover {
      color: $primary-color;
    }
  }
}

.home__why, .home__featured__posts {
  @include padding(1.5, 0, 1.5, 0);
  @include breakpoint(medium) {
    @include padding(3, 3, 3, 3);
  }
}

// X. News
// ---------

h2 {
  @include links ($black, $primary-color);
}

.inmedia_logo {
  img {
    height: 2em;
    max-width: 100%;
    margin-bottom: 1em;
    filter: brightness(0) saturate(100%) invert(60%) sepia(19%) saturate(368%) hue-rotate(176deg) brightness(88%) contrast(92%);
  }
}


// X. Sponsors
// -----------

.sponsors {
  color: $medium-gray;
  @include links ($medium-gray, $dark-blue);
}

.sponsors .icon {
  font-size: 3rem;
}

.sponsors .icon-uk-aid {
  font-size: 4rem;
}

.sponsors .icon-tjn {
  font-size: 4rem;
}

// X. Footer
// ---------

footer {
  font-size: 90%;
  @include links ($white, $primary-color);
}

footer .menu .active > a {
  color: $primary-color;
}

footer .menu a, footer .menu .menu-text {
  padding: 0.5rem 1rem 0.5rem 0rem;
}

footer .icon-logo-main {
  font-size: 4rem;
}

.team__members {
  @include links ($black, $primary-color);
}

a.external svg {
  transition: transform 0.25s;
}

a.external:hover svg {
  transform: translate(5px, 0);
}

.guide, .guide-page, .what-we-do, .get-involved, .connect, .latest {
  background-color: #f4f7f8;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
height: 100%;
width: 100%;
  }
}

.image {
  @include aspect-ratio (16, 9);
  background-size: cover;
  background-position: 50%;
  background-color: $light-gray;
}

.image--square {
  @include aspect-ratio (1, 1);
  background-size: cover;
  background-position: 50%;
  background-color: $light-gray;
}

.shadow {
  transition: box-shadow 0.25s;
  box-shadow: $shadow-dimensions $primary-color;
  &:hover {
  box-shadow: $shadow-dimensions $medium-gray;
  }
}

.shadow--blogs {
  box-shadow: $shadow-dimensions $grey-blue;
}
.shadow--events {
  box-shadow: $shadow-dimensions $green;
}

.page__title {
  @include padding(1.5, null, null, null);
  @include breakpoint(small only) {
    @include padding(1.5, 1.5, 1.5, 1.5);
  }
  @include breakpoint(medium) {
    @include padding(2, null, null, null);
  }

  p {
    font-size: 1.25em;
  }
}

.label--tag {
  background-color: $medium-gray;
  margin-bottom: 1rem;
}
.label--news {
  background-color: $primary-color;
  color: $white;
}
.label--blogs {
  background-color: $grey-blue;
}
.label--events {
  background-color: $green;
  color: $white;
}

$consider: #DB00C9;
$commit: #7F12E0;
$legal: #009BFE;
$systems: #00C7E2;
$data: #1EC16F;
$publish: #1BB0A7;

.guide__page  {
  border-top: 1rem solid $primary-color;
  .shadow {
  box-shadow: $shadow-dimensions $primary-color;
  }
  .question {
  color: $primary-color;
  }
  p {
    a {
    border-bottom: 1px solid $primary-color;
    transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
    &:hover {
      border-bottom: 1px solid transparent;
    }
    }
  }
  .black {
  @include links ($black, $medium-gray);
  }
}

.guide__page--commit  {
  border-top: 1rem solid $commit;
  .shadow {
  box-shadow: $shadow-dimensions $commit;
  }
  .question {
  color: $commit;
  }
  @include links ($commit, $medium-gray);
  p {
    a {
    border-bottom: 1px solid $commit;
    transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
    &:hover {
      border-bottom: 1px solid transparent;
    }
    }
  }
  .black {
  @include links ($black, $medium-gray);
  }
  .consider {
  opacity: 1
  }
  .commit {
  opacity: 1
  }
  .legal {
  opacity: 0.25
  }
  .systems {
  opacity: 0.25
  }
  .data {
  opacity: 0.25
  }
  .publish {
  opacity: 0.25
  }
  blockquote { border-color: $commit }
}

.guide__page--legal  {
  border-top: 1rem solid $legal;
  .shadow {
  box-shadow: $shadow-dimensions $legal;
  }
  .question {
  color: $legal;
  }
  @include links ($legal, $medium-gray);
  p {
    a {
    border-bottom: 1px solid $legal;
    transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
    &:hover {
      border-bottom: 1px solid transparent;
    }
    }
  }
  .black {
  @include links ($black, $medium-gray);
  }
  .consider {
  opacity: 1
  }
  .commit {
  opacity: 1
  }
  .legal {
  opacity: 1
  }
  .systems {
  opacity: 0.25
  }
  .data {
  opacity: 0.25
  }
  .publish {
  opacity: 0.25
  }
  blockquote { border-color: $legal }
}

.guide__page--systems  {
  border-top: 1rem solid $systems;
  .shadow {
  box-shadow: $shadow-dimensions $systems;
  }
  .question {
  color: $systems;
  }
  @include links ($systems, $medium-gray);
  p {
    a {
    border-bottom: 1px solid $systems;
    transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
    &:hover {
      border-bottom: 1px solid transparent;
    }
    }
  }
  .black {
  @include links ($black, $medium-gray);
  }
  .consider {
  opacity: 1
  }
  .commit {
  opacity: 1
  }
  .legal {
  opacity: 1
  }
  .systems {
  opacity: 1
  }
  .data {
  opacity: 0.25
  }
  .publish {
  opacity: 0.25
  }
  blockquote { border-color: $systems }
}

.guide__page--data  {
  border-top: 1rem solid $data;
  .shadow {
  box-shadow: $shadow-dimensions $data;
  }
  .question {
  color: $data;
  }
  @include links ($data, $medium-gray);
  p {
    a {
    border-bottom: 1px solid $data;
    transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
    &:hover {
      border-bottom: 1px solid transparent;
    }
    }
  }
  .black {
  @include links ($black, $medium-gray);
  }
  .consider {
  opacity: 1
  }
  .commit {
  opacity: 1
  }
  .legal {
  opacity: 1
  }
  .systems {
  opacity: 1
  }
  .data {
  opacity: 1
  }
  .publish {
  opacity: 0.25
  }
  blockquote { border-color: $data }
}

.guide__page--publish  {
  border-top: 1rem solid $publish;
  .shadow {
  box-shadow: $shadow-dimensions $publish;
  }
  .question {
  color: $publish;
  }
  @include links ($publish, $medium-gray);
  p {
    a {
    border-bottom: 1px solid $publish;
    transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
    &:hover {
      border-bottom: 1px solid transparent;
    }
    }
  }
  .black {
  @include links ($black, $medium-gray);
  }
  .consider {
  opacity: 1
  }
  .commit {
  opacity: 1
  }
  .legal {
  opacity: 1
  }
  .systems {
  opacity: 1
  }
  .data {
  opacity: 1
  }
  .publish {
  opacity: 1
  }
  blockquote { border-color: $publish }
}


.button.white {
  border-color: $primary-color
}

.button.white:hover, .button.white:focus {
background-color:  $white;
}

.guide-pagination-next {
border-radius: 0;
border: 0px solid transparent;
border-left: 4px solid $light-gray;
  transition: all .35s cubic-bezier(.39, .575, .565, 1);
}

.guide-pagination-previous {
border-radius: 0;
border: 0px solid transparent;
border-right: 4px solid $light-gray;
  transition: all .35s cubic-bezier(.39, .575, .565, 1);
}

.guide-pagination--consider:hover {
border-color: $consider;
}

.guide-pagination--commit:hover {
border-color: $commit;
}

.guide-pagination--legal:hover {
border-color: $legal;
}

.guide-pagination--systems:hover {
border-color: $systems;
}

.guide-pagination--data:hover {
border-color: $data;
}

.guide-pagination--publish:hover {
border-color: $publish;
}

.guide-pagination--guide:hover {
border-color: $primary-color;
}

.things-to-consider {
.menu a, .menu .button {
padding: 0.5rem 0rem;
line-height: 1.4;
}
}

.guide-home-content h3 {
padding-top: 3rem;
}

.hexagon {
  fill: #f4f7f8;
  fill-opacity:0;
  transition: all .35s cubic-bezier(.39, .575, .565, 1);
}
.hexagon:hover {
  fill: #f4f7f8;
  fill-opacity:0.6;
}

// X. Posts
// --------
.post {
  .label {
    color: $white;
    margin-right: 1rem;
    &:hover {
      color: rgba($white, 0.75);
    }
  }
}

// X. Leadership Group
.bolg-principles {
  li:not(:last-child) {
    margin-bottom: 1rem
  }
}

// X. Team
// -------
.team-big-image {
  float: right;
  height: 17rem;
  width: 100%;
  background-size: cover;

  @include breakpoint(medium) {
    height: 37rem;
  }

  @media (min-height: 1100px) {
    height: 44rem;
  }
}

.team-connect-methods {
  font-size: 2rem;
}

// X. Framework
// ------------

.principles__page {
  border-top: 1rem solid #7e8da3;
}

// X. Map
// ------
.world-map {
  width: 100%;
  height: 300px;
  @include breakpoint(medium) {
    height: 400px;
  }
  @include breakpoint(large) {
    height: 500px;
  }
  margin-left: auto;
  margin-right: auto;
}

.map-legend {
  font-size: 0.85rem;
  font-family: $serif-regular;
  color: $medium-gray;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;

  @include breakpoint(medium) {
    font-size: 1rem;
  }
}

.map-legend-icon {
  font-family: $sans-bold;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  color: $white;
  margin-right: 1rem;

  // Flexbox settings for alignment with map-legend-text
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  // To position text over the SVG
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  .icon-hexagon {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  @include breakpoint(medium) {
    font-size: 1.25rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    .icon-hexagon {
      width: 4rem;
      height: 4rem
    }
  }

}

.map-legend-text {
  flex-grow: 1
}

.map-legend-highlight {
  font-size: 1rem;

  @include breakpoint(medium) {
    font-size: 1.25rem;
  }
}

.map-legend-engagement {
  color: $engagement;
}
.map-legend-full {
  color: $full-commitment;
}
.map-legend-partial {
  color: $partial-commitment;
}
.map-legend-total {
  color: $primary-color;
}

.map-filters, .resource-filters {
  label {
    color: $black;
    font-size: 1rem;
    line-height: 1.5rem; // To match the select
  }
  select {
    background: none;
    border: 1px solid; // without a border, vertical alignment looks off
  }
}

// JS will show this when needed, it's not needed at all without JS
.see-all-countries-button {
  display: none;
}

// X. Resources page
// ----------------

// JS will show this when needed
.no-resources-message {
  display: none;
}

.resource-image {
  width: 10em
}

// X. Visualisation
// ----------------

// Active item in nav menu
.sidemenu {

  ul {
    margin-left: 0
  }

  li {
    list-style: none
  }

  li ul {
    margin-bottom: 0.5rem
  }

  li li {
    &:before {
      content: '\2013';
      display: inline-block;
      width: 1rem;
      text-align: center;
      color: get-color(primary)
    }
  }

  .active > a {
    font-family: $sans-bold
  }

  @include underline-links-invert();

}

.bovs__page {

  // Make small diagrams bigger on smaller screens (even though this disrupts proportions)
  @include breakpoint(small down) {
    .text-body img {
      width: 100%;
      min-width: 100%;
    }
  }

}


.visualisation-tool {
  .file-input {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 1rem;
  }

  #svg-holder {
    position: relative;
    text-align: center;
    border: 1px solid #000;
    min-height: 400px;
  }

  #bods-svg {
    width: 100%;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;

    // Override our max-width on img
    img {
      max-width: unset;
    }

    // Override white label text
    .node-label {
      color: $black;
    }
  }

  #result {
    height: 100px;
    width: 100%;
  }

  .main-article {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0 40px;
  }

  #draw-vis {
    width: 100%;
  }

  #zoom_in {
    position: absolute;
    top: 20px;
    right: 70px;
    width: 40px;
  }

  #zoom_out {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
  }
}
