// Typography
// ----------

$line-height--tighter: 1;
$line-height--tight: 1.16;
$line-height--base: 1.6;

$letter-spacing--tighter: -0.027em;
$letter-spacing--tight: -0.018em;
$letter-spacing--looser: 0.25em;
$letter-spacing--loose: 0.125em;

$primary-font-family: 'Basis Mono', sans-serif;
$secondary-font-family: 'Basis Regular', sans-serif;