// Typography
// ----------

$line-height--tighter: 1;
$line-height--tight: 1.16;
$line-height--base: 1.6;

$letter-spacing--tighter: -0.027em;
$letter-spacing--tight: -0.018em;
$letter-spacing--looser: 0.25em;
$letter-spacing--loose: 0.125em;

$sans-regular: 'Atlas Grotesk Regular', sans-serif;
$sans-bold: 'Atlas Grotesk Bold', sans-serif;
$serif-regular: 'Publico Text Roman', serif;
$serif-italic: 'Publico Text Italic', serif;
$serif-bold: 'Publico Text Bold', serif;
$serif-headline: 'Publico Bold', serif;