<section class="grid-container">

  {% if paginator.posts == empty %}
    <div class="grid-x grid-padding-y post">
      <div class="small-12 cell">
        <p>There are no posts in this category yet.</p>
    </div>
  {% endif %}
  {% for post in paginator.posts %}

    <div class="grid-x grid-padding-y post">
      <div class="small-12 cell">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="medium-gray">
          {% include blocks/categories.html categories=post.categories %}
          {% if post.author %}{{ post.author }} · {% endif %}{{ post.date | date: site.date_format }}
        </p>
        {% if post.image %}
          <p>
            <a href="{{ post.url }}">
              {% assign image = post.image %}
              <div class="light-gray-background image shadow" data-interchange="{% include images/interchange-img-small-12-medium-6-cell.html %}"></div>
            </a>
          </p>
          {% if post.image-caption %}
            <p><small>{{post.image-caption}}</small></p>
          {% endif %}
        {% endif %}
        <p>{{ post.excerpt | strip_html | truncatewords:40 }}</p>
        <p>
          <a class="button" href="{{ post.url }}">
            Continue reading <svg class="icon icon-arrow icon-arrow-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use></svg>
          </a>
        </p>
      </div>
    </div>

  {% endfor %}
</section>
