<div
  class="grid-x grid-padding-x grid-padding-y align-center resource
         {{resource.resource_type | slugify}}
         {% for tag in resource.tags %} {{tag | slugify}}{%endfor%}
         {% for file in resource.files %} {{file[0]}}{%endfor%}
         ">

  <div class="small-12 medium-6 large-2 cell">
    <a href="{{ resource.url }}"><img src="{{ resource.thumbnail-image }}" class="image--resource {{resource.thumbnail-image-class}}"></a>
  </div>

  <div class="small-12 medium-6 large-10 cell">
    <h5 class="sans-bold"><a href="{{ resource.url }}">{{ resource.title}}</a></h5>
    <div class="medium-gray margin-bottom-1">{{ resource.author }} · {{ resource.date | date: site.date_format }}</div>
    {{resource.content | markdownify}}
  </div>
</div>
