<div class="off-canvas position-bottom" id="cookiesPolicy" data-off-canvas>

<div class="grid-container">
  <div class="grid-x grid-padding-x padding-vertical-3 text-center">

<div class="small-12 cell sans-regular">

  <p class="white">This Website Uses Cookies</p>
  <p class="white">We use Google Analytics to help us understand website traffic, webpage usage and enhance the functionality of our website and improve your user experience. We do not capture your personal data or transfer it to anyone else, or use any third-party cookies. You can disable the use of cookies from your browser settings. By closing this message and continuing to use our website you consent to our use of cookies.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

</div>

  </div>
</div>

</div>