{% for entry in site.data.navigation.footer %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
{% if fullurl == page.url %}
{% assign current_page = fullurl %}{% break %}{% elsif page.url contains fullurl %}{% assign current_page = fullurl %}{% endif %}{% endfor %}

<!-- Footer -->
<footer class="grid-x grid-padding-x grid-padding-y align-justify primary-background sans-bold padding-1">

  <div class="small-12 medium-6 large-4 xlarge-shrink cell show-for-large">
    <div class="grid-y height-100 align-justify">
      <div class="shrink cell">
      <a href="/"><svg class="icon icon-logo-main margin-bottom-1"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo-main"></use></svg></a>
      </div>
      <div class="shrink cell">
      <ul class="menu">
      <li class="menu-text">© OpenOwnership</li>
      <li><a href="/terms/">Terms</a></li>
      <li><a href="/privacy/">Privacy</a></li>
      </ul>
      </div>
    </div>
  </div>

  <div class="small-12 medium-6 large-4 xlarge-shrink cell">
    <ul class="vertical menu text-center medium-text-left">
      {% for entry in site.data.navigation.header %}
        {% if entry.url %}
        <li{% if section == entry.title %} class="active"{% endif %}>
          {% include site/menulink.html url=entry.url title=entry.title %}
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="small-12 medium-6 large-3 xlarge-shrink cell show-for-xlarge">
    <ul class="vertical menu">
      <li class="menu-text serif-italic">Follow our work on</li>
      {% for item in site.social %}
      <li><a href="{{ item[1] }}" target="_blank" rel="noopener" class="text-capitalize">{{ item[0] }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="small-12 medium-6 large-4 xlarge-shrink cell">
    <div class="serif-italic margin-bottom-1 text-center medium-text-left">Keep up to date</div>
    <a class="button expanded" href="https://mailchi.mp/440be76e70f3/the-record-landing-page" target="_blank">Join the newsletter</a>
  </div>

</footer>
<!-- End Footer -->
