{% for entry in site.data.navigation.footer %}{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}{% if fullurl == page.url %}{% assign current_page = fullurl %}{% break %}{% elsif page.url contains fullurl %}{% assign current_page = fullurl %}{% endif %}{% endfor %}

<!-- Footer -->
<footer class="grid-x grid-padding-x grid-padding-y align-justify primary-background sans-bold padding-1">
  
  <div class="small-12 medium-6 large-6 xxlarge-shrink cell show-for-xxlarge">
    <div class="grid-y height-100 align-justify">
      <div class="shrink cell">
      <a href="/"><svg class="icon icon-logo-main margin-bottom-1"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo-main"></use></svg></a>
      </div>
      <div class="shrink cell">
      <ul class="menu">
      <li class="menu-text">© OpenOwnership</li>
      <li><a href="/terms">Terms</a></li>
      <li><a href="/privacy">Privacy</a></li>
      </ul>
      </div>
    </div>
  </div>

  <div class="small-6 medium-6 large-6 xxlarge-shrink cell">
    <ul class="vertical menu">
      {% for entry in site.data.navigation.footer %}
      {% if entry.url == current_page %}
      {% assign current = ' class="active"' %}
      {% else %}
      {% assign current = null %}
      {% endif %}
      <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="small-6 medium-6 large-3 xxlarge-shrink cell show-for-xxlarge">
    <ul class="vertical menu">
      <li class="menu-text serif-italic">Follow the project on</li>
      {% for item in site.social %}  
      <li><a href="{{ item[1] }}" target="_blank" rel="noopener" class="text-capitalize">{{ item[0] }}</a></li>
      {% endfor %} 
    </ul>
  </div>

  <div class="small-12 medium-6 large-6 xxlarge-shrink cell">
  <div class="serif-italic margin-bottom-1">Join the newsletter</div>
    <form action="https://openownership.us19.list-manage.com/subscribe/post?u=5a522bc71b24b7202b6bf2c95&amp;id=57602bb40c" method="post" data-abide novalidate>

      <div data-abide-error class="alert callout" style="display: none;">
        <p><i class="fi-alert"></i> There are some errors in your form.</p>
      </div>

      <div class="input-group">
      <input type="email" value="" class="input-group-field" name="EMAIL" placeholder="your@email.com" required pattern="email">
      <div class="input-group-button">
      <input type="submit" class="button hollow white" value="Submit" name="subscribe">
      </div>
      </div>
    </form>
  </div>

</footer>
<!-- End Footer -->