{% if page.layout == 'home' %}
<!-- Home Support + Funding -->
<div class="grid-x grid-padding-x grid-padding-y align-justify">
  <div class="small-12 medium-8 cell">
  <h3>{{page.support-title}}</h3>
  <div class="h5 sans-regular">
  {{page.support-text | markdownify}}
  </div>
  </div>
</div>
<!-- End Home Support + Funding -->
{% endif %}

<!-- Sponsors -->
<div class="grid-x grid-padding-x grid-padding-y align-justify sponsors serif-italic">
  
  <div class="small-12 medium-shrink cell text-center medium-text-left">
    <div class="margin-bottom-1"><small>Brought to you by</small></div>
    <ul class="vertical medium-horizontal menu">
      <li><a href="https://www.transparency.org" aria-label="Transparency International"><svg class="icon icon-transparency-international"><use xlink:href="/assets/icons/symbol-defs.svg#icon-transparency-international"></use></svg></a></li>
      <li><a href="https://www.one.org/international/" aria-label="One"><svg class="icon icon-one"><use xlink:href="/assets/icons/symbol-defs.svg#icon-one"></use></svg></a></li>
      <li><a href="https://opencorporates.com" aria-label="Open Corporates"><svg class="icon icon-open-corporates"><use xlink:href="/assets/icons/symbol-defs.svg#icon-open-corporates"></use></svg></a></li>
      <li><a href="https://www.open-contracting.org" aria-label="Open Contracting"><svg class="icon icon-open-contracting-partnership"><use xlink:href="/assets/icons/symbol-defs.svg#icon-open-contracting-partnership"></use></svg></a></li>
      <li><a href="http://www.bteam.org" aria-label="B Team"><svg class="icon icon-the-b-team"><use xlink:href="/assets/icons/symbol-defs.svg#icon-the-b-team"></use></svg></a></li>
      <li><a href="https://www.globalwitness.org/en-gb/" aria-label="Global Witness"><svg class="icon icon-global-witness"><use xlink:href="/assets/icons/symbol-defs.svg#icon-global-witness"></use></svg></a></li>
    </ul>
  </div>
  
  <div class="small-12 medium-shrink cell text-center medium-text-left">
    <div class="margin-bottom-1"><small>Funded by</small></div>
    <ul class="vertical medium-horizontal menu">
      <li><a href="https://www.gov.uk/government/organisations/department-for-international-development" aria-label="Department for International Development"><svg class="icon icon-uk-aid"><use xlink:href="/assets/icons/symbol-defs.svg#icon-uk-aid"></use></svg></a></li>
    </ul>
  </div>

</div>
<!-- End Sponsors -->