<div class="grid-x grid-padding-y padding-2 sans-bold offcanvas">
  <div class="small-12 cell">

    <ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">
      {% for entry in site.data.navigation.header %}
        <li{% if section == entry.title %} class="active"{% endif %}>
          {% include site/menulink.html url=entry.url title=entry.title %}
          {% if entry.sublinks %}
            <ul class="menu vertical nested">
              {% for sublink in entry.sublinks %}
                <li{% if page.url contains sublink.url %} class="active"{% endif %}>
                  {% include site/menulink.html url=sublink.url title=sublink.title %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>


    <ul class="menu simple social-links margin-top-2">
      {% for item in site.social %}
      <li><a href="{{ item[1] }}" target="_blank" rel="noopener"><span class="show-for-sr">{{ item[0] }}</span><svg class="icon icon-socials icon-{{ item[0] }}"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{ item[0] }}"></use></svg></a></li>
      {% endfor %}
    </ul>

    <ul class="vertical menu">
      <li><a href="/terms">Terms</a></li>
      <li><a href="/privacy">Privacy</a></li>
    </ul>

  </div>
</div>
