---
layout: default
---

<!-- Page Title -->
{% include blocks/title.html %}
<!-- End Page Title -->

<!-- Page Content -->
{% include blocks/content.html %}
<!-- End Page Content -->

<!-- Team Content -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-3" data-equalizer data-equalize-by-row="true">
    {% assign sorted_team = site.team | sort:"position" %}
    {% for member in sorted_team %}
      {% include blocks/team-member.html member=member %}
    {% endfor %}
  </div>
</div>
<!-- End Team Content -->

<!-- Governance -->
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">
      <h3 id="governance">Governance</h3>
      <p>{{page.governance-text | markdownify }}</p>
    </div>
  </div>
</div>
<!-- End governance -->

<!-- Sponsors -->
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">
      <h3 id="partners">Partners</h3>
      <p>{{page.partners-text}}</p>
    </div>
  </div>

  <div class="grid-x grid-padding-x grid-padding-y align-justify sponsors">
    <div class="small-12 medium-shrink cell text-center medium-text-left">
      <ul class="vertical medium-horizontal menu">
        <li><a href="https://www.transparency.org" aria-label="Transparency International"><svg class="icon icon-transparency-international"><use xlink:href="/assets/icons/symbol-defs.svg#icon-transparency-international"></use></svg></a></li>
        <li><a href="https://www.one.org/international/" aria-label="One"><svg class="icon icon-one"><use xlink:href="/assets/icons/symbol-defs.svg#icon-one"></use></svg></a></li>
        <li><a href="https://opencorporates.com" aria-label="Open Corporates"><svg class="icon icon-open-corporates"><use xlink:href="/assets/icons/symbol-defs.svg#icon-open-corporates"></use></svg></a></li>
        <li><a href="https://www.open-contracting.org" aria-label="Open Contracting"><svg class="icon icon-open-contracting-partnership"><use xlink:href="/assets/icons/symbol-defs.svg#icon-open-contracting-partnership"></use></svg></a></li>
        <li><a href="http://www.bteam.org" aria-label="B Team"><svg class="icon icon-the-b-team"><use xlink:href="/assets/icons/symbol-defs.svg#icon-the-b-team"></use></svg></a></li>
        <li><a href="https://www.globalwitness.org/en-gb/" aria-label="Global Witness"><svg class="icon icon-global-witness"><use xlink:href="/assets/icons/symbol-defs.svg#icon-global-witness"></use></svg></a></li>
        <li><a href="https://www.taxjustice.net/" aria-label="Tax Justice Network"><svg class="icon icon-tjn"><use xlink:href="/assets/icons/symbol-defs.svg#icon-tjn"></use></svg></a></li>
        <li><a href="https://www.opengovpartnership.org/" aria-label="Open Government Partnership"><svg class="icon icon-ogp"><use xlink:href="/assets/icons/symbol-defs.svg#icon-ogp"></use></svg></a></li>
        <li><a href="https://www.eiti.org" aria-label="Extractives Industries Transparency Initiative"><svg class="icon icon-eiti"><use xlink:href="/assets/icons/symbol-defs.svg#icon-eiti"></use></svg></a></li>
      </ul>
    </div>
  </div>
  
    <div class="grid-x grid-padding-x">
      <div class="small-12 cell">
        <h3 id="funders">Funders</h3>
        <p>{{page.funders-text}}</p>
      </div>
    </div>
    
    <div class="grid-x grid-padding-x grid-padding-y align-justify sponsors">
      <div class="small-12 medium-shrink cell text-center medium-text-left">
        <ul class="vertical medium-horizontal menu">
          <li><a href="https://www.gov.uk/government/organisations/foreign-commonwealth-development-office" aria-label="Foreign, Commonwealth & Development Office"><svg class="icon icon-uk-aid"><use xlink:href="/assets/icons/symbol-defs.svg#icon-uk-aid"></use></svg></a></li>
          <li><a href="https://www.worldbank.org/" aria-label="The World Bank"><svg class="icon icon-world-bank"><use xlink:href="/assets/icons/symbol-defs.svg#icon-world-bank"></use></svg></a></li>
          <li><a href="https://www.bhp.com/" aria-label="BHP Foundation"><svg class="icon icon-bhp-foundation" style="width: 20rem"><use xlink:href="/assets/icons/symbol-defs.svg#icon-bhp-foundation"></use></svg></a></li>
        </ul>
      </div>
    </div>
    
      <div class="grid-x grid-padding-x">
        <div class="small-12 cell">
          <h3 id="funders">Brand</h3>
          <p><a href="/uploads/OPO%20Brand%20Guidelines%201-2.pdf" class="button">Download our Brand Guidelines</a></p>
        </div>
      </div>
    
    
  </div>
  
</div>
