---
layout: default
---

<!-- Connect with Us Title -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y page__title">
    <div class="small-12 medium-10 large-8 cell">
      <h1>{{page.title}}</h1>
      {% assign content = page.content | strip_newlines %}
      {% unless content == ""  %}
      <h5 class="sans-regular">{{content}}</h5>
      {% endunless %}
    </div>
  </div>
</div>
<!-- End Connect with Us Title -->

<!-- Core Team Content -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-3" data-equalizer data-equalize-by-row="true">
    {% assign sorted_team_bods = site.team | sort:"position" | where: "categories", "project-team" %}
    {% for member in sorted_team_bods %}
    <div class="cell">
      <div class="callout shadow" data-equalizer-watch>
        <div class="grid-y align-justify height-100">
          <div class="shrink cell text-center">
            {% if member.image %}
            {% assign image = member.image %}
            <div class="light-gray-background image--square margin-bottom-1" data-interchange="{% include images/interchange-img-small-12-medium-4-cell.html %}"></div>
            {% else %}
            {% assign image = site.placeholder %}
            <div class="light-gray-background image--square margin-bottom-1" data-interchange="{% include images/interchange-img-small-12-medium-4-cell.html %}"></div>
            {% endif %}
            <h5 class="sans-bold">{{member.title}}</h5>
            <h6 class="sans-regular medium-gray margin-bottom-1">{{member.job-title}}</h6>
            {{member.content}}
          </div>
          <div class="shrink cell">
            <ul class="menu align-center">
            {% if member.email %} 
            <li><a href="mailto:{{member.email}}"><span class="show-for-sr">Email</span><svg class="icon icon-socials icon-email"><use xlink:href="/assets/icons/symbol-defs.svg#icon-email"></use></svg></a></li>
            {% endif %}
            {% for item in member.social %}  
            <li><a href="{{ item[1] }}" target="_blank" rel="noopener" class="padding-left-1"><span class="show-for-sr">{{ item[0] }}</span><svg class="icon icon-socials icon-{{ item[0] }}"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{ item[0] }}"></use></svg></a></li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- End Core Team Content -->

<!-- BODs Title -->
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">
      <h3>Beneficial Ownership Data Standard Team</h3>
    </div>
  </div>
</div>
<!-- End BODs Title -->

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-3" data-equalizer data-equalize-on-stack="false">
  {% assign sorted_team_bods = site.team | sort:"position" | where: "categories", "bods" %}
  {% for member in sorted_team_bods %}
  <div class="cell">
    <div class="callout shadow" data-equalizer-watch>
      <div class="grid-y align-justify height-100">
        <div class="shrink cell text-center">
          {% if member.image %}
          {% assign image = member.image %}
          <div class="light-gray-background image--square margin-bottom-1" data-interchange="{% include images/interchange-img-small-12-medium-4-cell.html %}"></div>
          {% else %}
          {% assign image = site.placeholder %}
          <div class="light-gray-background image--square margin-bottom-1" data-interchange="{% include images/interchange-img-small-12-medium-4-cell.html %}"></div>
          {% endif %}
          <h5 class="sans-bold">{{member.title}}</h5>
          <h6 class="sans-regular medium-gray margin-bottom-1">{{member.job-title}}</h6>
          {{member.content}}
        </div>
        <div class="shrink cell">
          <ul class="menu align-center">
          {% if member.email %} 
          <li><a href="mailto:{{member.email}}"><span class="show-for-sr">Email</span><svg class="icon icon-socials icon-email"><use xlink:href="/assets/icons/symbol-defs.svg#icon-email"></use></svg></a></li>
          {% endif %}
          {% for item in member.social %}  
          <li><a href="{{ item[1] }}" target="_blank" rel="noopener" class="padding-left-1"><span class="show-for-sr">{{ item[0] }}</span><svg class="icon icon-socials icon-{{ item[0] }}"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{ item[0] }}"></use></svg></a></li>
          {% endfor %} 
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>

<!-- Get Involved Title -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 medium-10 large-8 cell">
      <h1>Get involved</h1>
      {% assign content = page.get-involved-text | strip_newlines %}
      {% unless content == ""  %}
      <h5 class="sans-regular">{{content | markdownify}}</h5>
      {% endunless %}
    </div>
  </div>
</div>
<!-- End Get Involved Title -->

<!-- Page Content -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y padding-bottom-2" data-equalizer data-equalize-on-stack="true" data-equalize-by-row="true">
  {% for sector in page.sectors %}
    <div class="small-12 medium-12 large-6 {% if sector.is-full-width %}large-12{% endif %} cell padding-1">
    <div class="callout large shadow margin-bottom-0" data-equalizer-watch>
      <h3 class="serif-bold padding-bottom-1">{{sector.title}}</h3>
      {{sector.text | markdownify}}
    </div>
    </div>
  {% endfor %}
  </div>
</section>
<!-- End Page Content -->

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
      <div class="small-12 cell">
        <h1>Governance and Funding</h1>
        {{page.legal | markdownify}}
      </div>
  </div>
</div>

</section>
<!-- Project Team Content -->