---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body>
  
<!-- Header -->
{% include header.html %}
<!-- End Header -->

<!-- Content -->
{{content}}
<!-- End Content -->

<!-- Sponsors -->
{% include sponsors.html %}
<!-- End Sponsors-->

<!-- Footer -->
{% include footer.html %}
<!-- End Footer-->

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->
  
</body>

</html>