---
layout: default
---
<!-- Page Title -->
{% include blocks/title.html  %}
<!-- End Page Title -->

<!-- Page Content -->
{% unless page.content == '' %}
  <section class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-3 cell">
      	<ul>
          <li><a href="/framework/">Overview</a></li>
        {% assign sorted_pages = site.framework | sort:"order" %}
      	 {% for index in sorted_pages %}
  			    <li><a href="{{ index.url }}">{{ index.component }}</a></li>
		     {% endfor %}
		</ul>
      </div>
      <div class="small-9 cell">
        <h2>{{ page.component }}</h2>

        {{page.content | markdownify}}

      {% assign tag = page.component | downcase %}
      {% assign resource_tags =  site.resources | map: 'tags' | join: ','  | split: ',' | uniq %}

      {% if resource_tags contains tag %}
      <hr/>
      <h2>Resources</h2>

      {% for resource in site.resources %}
        {% if resource.tags contains tag %}
         <div class="grid-x grid-padding-x grid-padding-y align-center">
          <div class="small-12 medium-6 large-2 cell">
            <a href="{{ resource.file }}">
              <img src="{{ resource.thumbnail-image }}" class="image--resource">
            </a>
          </div>

          <div class="small-12 medium-6 large-10 cell">
            <h5 class="sans-bold">{{resource .title}}</h5>
            {{resource.content | markdownify}}
            <a class="button margin-bottom-0" href="{{resource.file}}">
              View document
            </a>
          </div>
        </div>
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if page.component %}
      <hr/>
        <h2>Things to consider</h2>
        <p>
        The following checklist highlights elements of a disclosure regime to consider when designing policies, developing systems and publishing data. 
        </p>
        <p>
          Note: not all considerations apply to every context. 
        </p>
        <p>
          <b>When planning, or reviewing, a beneficial ownership disclosure regime, consider whether it is the case that:</b>
        </p>
        <ul>
          {% assign edf = site.data.edf %}
          {% for indicator in edf %} 
           {% if indicator.section == page.order %}
            {% if indicator.uses contains "Checklist" %}
              <li>☑️ {{ indicator.text }}</li>
              {% if indicator.bods_mapping %}
                {% assign bods_mapping = true %}
              {% endif %}
            {% endif %}
           {% endif %}
          {% endfor %}
        </ul>
      {% endif %}

      {% if page.component %}
      {% if bods_mapping == true %}
      <hr/>
      <h2>Data modelling</h2>
      <p>
        The <a href="https://standard.openownership.org">Beneficial Ownership Data Standard</a> provides the following data structures which can be used when considering {{ page.component | downcase }}.
      </p>
      {% for indicator in edf %} 
           {% if indicator.section == page.order %}
            {{ indicator.bods_mapping | markdownify }}
           {% endif %}
          {% endfor %}   
      {% endif %}
  {% endif %}

    </div>

    </div>
  </section>
{% endunless %}
<!-- End Page Content -->


