---
layout: default
---

<!-- Page Title -->
{% include blocks/title.html %}
<!-- End Page Title -->

<!-- Page Content -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y padding-bottom-3" data-equalizer data-equalize-on-stack="true">
  {% for sector in page.sectors %}
    <div class="small-12 medium-12 large-6 {% if sector.is-full-width %}large-12{% endif %} cell padding-1">
    <div class="callout shadow large margin-bottom-0" data-equalizer-watch>
      <h3 class="serif-bold padding-bottom-1">{{sector.title}}</h3>
      {{sector.text | markdownify}}
    </div>
    </div>
  {% endfor %}
  </div>
</section>
<!-- End Page Content -->