---
layout: default
---

<section class="guide__page">

<!-- Pagination Desktop -->
  <div class="grid-x grid-padding-y align-justify padding-top-2" data-equalizer>

    <div class="small-6 medium-3 large-2 cell show-for-large">
      {% if page.previous.url %}
        <a href="{{page.previous.url}}" class="button white expanded align-middle" data-equalizer-watch>
        
        <div class="grid-y height-100 align-center">
        <div class="shrink cell">
          <div class="grid-x align-middle">
            <div class="shrink cell">
            <svg class="icon icon-arrow icon-arrow-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-left"></use></svg>
            </div>
            <div class="auto cell text-right">
            <div>{{page.previous.position | plus: 1 | prepend: '0'}}</div>
            <h3 class="margin-bottom-0">{{page.previous.title}}</h3>
            </div>
          </div>
        </div>
        </div>
        </a>
      {% endif %}
    </div>

<!-- Page Title -->
    <div class="small-6 medium-8 cell padding-3">
      <h1>{{page.title}}</h1>
    </div>
<!-- End Page Title -->
    
    <div class="small-6 medium-3 large-2 cell text-right show-for-large">
      <a href="/guide/consider" class="button white expanded align-middle" data-equalizer-watch>
        <div class="grid-y height-100 align-center">
        <div class="shrink cell">
          <div class="grid-x align-middle">
            <div class="auto cell text-left">
            <div>01</div>
            <h3 class="margin-bottom-0">Consider</h3>
            </div>
            <div class="shrink cell">
            <svg class="icon icon-arrow icon-arrow-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use></svg>
            </div>
          </div>
        </div>
        </div>
      </a>
    </div>
  
  </div>
<!-- End Pagination -->     

<!-- Page Content -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-8 cell">
    <h5 class="sans-regular">{{page.description}}</h5>
    </div>
  </div>
</section>
<!-- End Page Content -->

<!-- Image -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell text-center">
    <img src="/uploads/guide.svg" alt="Guide">
    </div>
  </div>
</section>
<!-- End Image -->

<!-- Page Content -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-8 cell">
      {{page.content | markdownify}}
    </div>
  </div>
</section>
<!-- End Page Content -->

<!-- Pagination -->
<div class="grid-container padding-vertical-3">
  <div class="grid-x small-up-1 medium-up-6 align-center align-middle">
    {% for item in site.guides %}  
    <div class="cell text-center padding-3 black hexagon">
      <a href="{{ item[1] }}" class="sans-bold"><span class="show-for-sr">{{ item[0] }}</span><svg class="icon icon-guide icon-{{ item[0] }}"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{ item[0] }}"></use></svg><sup>{{ forloop.index0 | plus: 1 | prepend: '0' }}</sup> {{ item[0] | capitalize }}</a>
    </div>
    {% endfor %} 
  </div>
</div>
<!-- End Pagination -->

</section>