---
layout: default
pagination: 
  enabled: true
  sort_field: position
---

<section class="guide__page--{{page.title | slugify}}">



<!-- Pagination Desktop -->
  <div class="grid-x grid-padding-y align-justify padding-top-2" data-equalizer>
  
    <div class="small-6 medium-3 large-2 cell show-for-large">
      {% if page.previous.url %}
        <a href="{{page.previous.url}}" class="button white expanded align-middle" data-equalizer-watch>
        
        <div class="grid-y height-100 align-center">
        <div class="shrink cell">
          <div class="grid-x align-middle">
            <div class="shrink cell">
            <svg class="icon icon-arrow icon-arrow-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-left"></use></svg>
            </div>
            <div class="auto cell text-right">
            <div>{{page.previous.position | plus: 1 | prepend: '0'}}</div>
            <h3 class="margin-bottom-0">{{page.previous.title}}</h3>
            </div>
          </div>
        </div>
        </div>
        </a>
      {% endif %}
    </div>

<!-- Page Title -->
    <div class="small-6 medium-4 cell padding-3">
      <h5 class="sans-bold medium-gray">{{page.position | plus: 1 | prepend: '0'}}</h5>
      <h1>{{page.title}}</h1>
    </div>
    <div class="small-6 medium-4 cell padding-3 text-right">
      <svg class="icon icon-guide icon-{{page.title | slugify}}"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{page.title | slugify}}"></use></svg>
    </div>
<!-- End Page Title -->
    
    <div class="small-6 medium-3 large-2 cell text-right show-for-large">
      {% if page.next.url %}
      <a href="{{page.next.url}}" class="button white expanded align-middle" data-equalizer-watch>
        <div class="grid-y height-100 align-center">
        <div class="shrink cell">
          <div class="grid-x align-middle">
            <div class="auto cell text-left">
            <div>{{page.next.position | plus: 1 | prepend: '0'}}</div>
            <h3 class="margin-bottom-0">{{page.next.title}}</h3>
            </div>
            <div class="shrink cell">
            <svg class="icon icon-arrow icon-arrow-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use></svg>
            </div>
          </div>
        </div>
        </div>
      </a>
      {% endif %}
    </div>
  
  </div>
<!-- End Pagination -->

  <div class="grid-x grid-padding-y align-justify padding-top-2 hide-for-large" data-equalizer>
  
    <div class="small-6 padding-right-1 cell">
      {% if page.previous.url %}
        <a href="{{page.previous.url}}" class="button white expanded align-middle" data-equalizer-watch>
        
        <div class="grid-y height-100 align-center">
        <div class="shrink cell">
          <div class="grid-x align-middle">
            <div class="shrink cell">
            <svg class="icon icon-arrow icon-arrow-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-left"></use></svg>
            </div>
            <div class="auto cell text-right">
            <div>{{page.previous.position | plus: 1 | prepend: '0'}}</div>
            <h3 class="margin-bottom-0">{{page.previous.title}}</h3>
            </div>
          </div>
        </div>
        </div>
        </a>
      {% endif %}
    </div>
    
    <div class="small-6 padding-left-1 text-right cell">
      {% if page.next.url %}
      <a href="{{page.next.url}}" class="button white expanded align-middle" data-equalizer-watch>
        <div class="grid-y height-100 align-center">
        <div class="shrink cell">
          <div class="grid-x align-middle">
            <div class="auto cell text-left">
            <div>{{page.next.position | plus: 1 | prepend: '0'}}</div>
            <h3 class="margin-bottom-0">{{page.next.title}}</h3>
            </div>
            <div class="shrink cell">
            <svg class="icon icon-arrow icon-arrow-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use></svg>
            </div>
          </div>
        </div>
        </div>
      </a>
      {% endif %}
    </div>
  
  </div>
<!-- End Pagination -->

<!-- Page Title -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 large-8 cell">
      <h5 class="sans-regular">{{page.description}}</h5>
    </div>
  </div>
</section>
<!-- End Page Title -->     

<!-- Tip -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
     <div class="small-12 medium-8 cell">
        <div class="callout shadow large">
        <h5>{{page.tip-text}}</h5>
       </div>
    </div>
  </div>
</section>
<!-- End Tip -->

<div class="grid-container">
  <div class="grid-x grid-padding-y align-center">
    <div class="small-12 medium-8 cell">
        <h3>Things to consider</h3>
        {% for question in page.questions %}
          <h6 class="sans-regular question">{{question.title}}</h6>
        {% endfor %}
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-y align-center">
    <div class="small-12 medium-8 cell">
        {% for question in page.questions %}
          <h3>{{question.title}}</h3>
          <div class="padding-bottom-2">{{ question.text | markdownify }}</div>
        {% endfor %}
    </div>
  </div>
</div>

<!-- Resources -->
<div class="grid-container">
  <div class="grid-x align-center">
    <div class="small-12 medium-8 cell">
      <h3>Resources</h3>
      {% for resource in page.resource-text %}
        <div>{{resource | markdownify}}</div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- End Resources -->

<!-- Pagination -->  
{% include pagination/guide.html %}
<!-- End Pagination -->

</section>