---
layout: default
pagination:
  enabled: true
  sort_field: position
---

<section class="guide__page--{{page.title | slugify}}">

<!-- Pagination Desktop -->
  <div class="grid-x grid-padding-y align-justify padding-top-2" data-equalizer>

    <!-- Page Title -->
    <div class="small-6 large-4 large-order-2 cell padding-3">
      <h5 class="sans-bold medium-gray">{{ page.position | prepend: '0' }}</h5>
      <h1>{{page.title}}</h1>
    </div>
    <div class="small-6 large-4 large-order-3 cell padding-3 text-right">
      <svg class="icon icon-guide icon-{{page.title | slugify}}"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{page.title | slugify}}"></use></svg>
    </div>
    <!-- End Page Title -->
  
    <div class="small-6 medium-3 small-order-3 large-order-1 padding-right-1 large-2 cell">
      {% if page.previous.url %}
        <a href="{{page.previous.url}}" class="guide-pagination--{{page.previous.title|slugify}} button white guide-pagination-previous expanded align-middle" data-equalizer-watch>
        
        <div class="grid-y height-100 align-center">
        <div class="shrink cell">
          <div class="grid-x align-middle">
            <div class="shrink cell">
            <svg class="icon icon-arrow icon-arrow-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-left"></use></svg>
            </div>
            <div class="auto cell text-right">
            <div>{{ page.previous.position | prepend: '0' }}</div>
            <h3 class="margin-bottom-0">{{ page.previous.title }}</h3>
            </div>
          </div>
        </div>
        </div>
        </a>
      {% else %}
        <a href="/guide" class="guide-pagination--guide button white guide-pagination-previous expanded align-middle" data-equalizer-watch>
        <div class="grid-y height-100 align-center">
        <div class="shrink cell">
          <div class="grid-x align-middle">
            <div class="shrink cell">
            <svg class="icon icon-arrow icon-arrow-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-left"></use></svg>
            </div>
            <div class="auto cell text-right">
            <div class="white">00</div>
            <h3 class="margin-bottom-0">Guide</h3>
            </div>
          </div>
        </div>
        </div>
        </a>
      {% endif %}
    </div>
    
    <div class="small-6 medium-3 small-order-4 padding-left-1 large-2 cell text-right">
      {% if page.next.url %}
      <a href="{{page.next.url}}" class="guide-pagination--{{page.next.title|slugify}} button white guide-pagination-next expanded align-middle" data-equalizer-watch>
        <div class="grid-y height-100 align-center">
        <div class="shrink cell">
          <div class="grid-x align-middle">
            <div class="auto cell text-left">
            <div>{{ page.next.position | prepend: '0' }}</div>
            <h3 class="margin-bottom-0">{{ page.next.title }}</h3>
            </div>
            <div class="shrink cell">
            <svg class="icon icon-arrow icon-arrow-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use></svg>
            </div>
          </div>
        </div>
        </div>
      </a>
      {% endif %}
    </div>
  
  </div>
<!-- End Pagination -->

<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
     <div class="small-12 medium-8 cell">
        <div class="callout shadow large">
          {{ page.description | markdownify }}
       </div>
    </div>
  </div>
</section>

<div class="grid-container">
  <div class="grid-x grid-padding-y align-center">
    <div class="small-12 medium-8 large-9 cell">
      {{ content }}
    </div>
  </div>
</div>

{% capture principles -%}
  {%- for principle in site.principles -%}
    {%- if page.principles contains principle.title -%}
      <li class="margin-right-1 margin-bottom-1">
        <a class="button white" href="{{ principle.url }}">
          {{ principle.title }}
          <svg class="icon icon-arrow icon-arrow-right">
            <use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{% if principles.size > 0 %}
<div class="grid-container">
  <div class="grid-x grid-padding-y align-center">
    <div class="small-12 medium-8 large-9 cell">
      <h2>Relevant Open Ownership Principles</h2>
      <p>The following <a href="/principles">OO Principles</a> are relevant when implementing BOT at this stage.</p>
      <ul class="menu">
        {{ principles }}
      </ul>
      </div>
  </div>
</div>
{% endif %}

<!-- Pagination -->  
{% include pagination/guide.html %}
<!-- End Pagination -->

</section>