---
layout: default
---

<section class="guide__page--{{page.title | slugify}}">



<!-- Page Title -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y page__title align-center">
    <div class="small-6 medium-4 cell">
      <h5 class="sans-bold medium-gray">{{page.position | plus: 1 | prepend: '0'}}</h5>
      <h1>{{page.title}}</h1>
    </div>
    <div class="small-6 medium-4 cell text-right">
      <svg class="icon icon-guide icon-{{page.title | slugify}}"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{page.title | slugify}}"></use></svg>
    </div>
  </div>
</section>
<!-- End Page Title -->       

<!-- Page Title -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 large-8 cell">
      <h5 class="sans-regular">{{page.description}}</h5>
    </div>
  </div>
</section>
<!-- End Page Title -->     

<!-- Tip -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
     <div class="small-12 medium-8 cell">
        <div class="callout shadow large">
        <h5>{{page.tip-text}}</h5>
       </div>
    </div>
  </div>
</section>
<!-- End Tip -->

<div class="grid-container">
  <div class="grid-x grid-padding-y align-center">
    <div class="small-12 medium-8 cell">
        <h3>Things to consider</h3>
        {% for question in page.questions %}
          <h6 class="sans-regular question">{{question.title}}</h6>
        {% endfor %}
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-y align-center">
    <div class="small-12 medium-8 cell">
        {% for question in page.questions %}
          <h3>{{question.title}}</h3>
          <div class="padding-bottom-2">{{ question.text | markdownify }}</div>
        {% endfor %}
    </div>
  </div>
</div>

<!-- Resources -->
<div class="grid-container">
  <div class="grid-x align-center">
    <div class="small-12 medium-8 cell">
      <h3>Resources</h3>
      {% for resource in page.resource-text %}
        <div>{{resource | markdownify}}</div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- End Resources -->

<!-- Pagination -->  
{% include pagination/guide.html %}
<!-- End Pagination -->

</section>