---
layout: default
---

<div class="home-background">

<!-- Home Intro -->
<div class="grid-x grid-padding-x grid-padding-y home-background-primary">

  <div class="small-12 cell home__intro">
    <h1 class="padding-bottom-2">
      {% assign fully_committed = site.data.countries | where: 'commitment_level', '2' %}
      {% assign partially_committed = site.data.countries | where: 'commitment_level', '1' %}
      {{partially_committed.size | plus: fully_committed.size}} countries are committed to disclosing beneficial ownership
    </h1>
  </div>

</div>
<!-- End Home Intro -->

<!-- What we do -->
{% if page.what-we-do and page.what-we-do.size > 0 %}
<section class="home-background-secondary">
  <div class="grid-x grid-padding-x grid-padding-y home__whats">
  {% for what in page.what-we-do %}
    <div class="small-12 medium-6 large-4 cell text-center home__what">
      <span class="home__what__title">
        <span class="home__what__title__inner serif-headline">
          {{ what.title }}
        </span>
      </span>
      <span class="home__what__text">{{ what.text | markdownify }}</span>
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}

</div>

<!-- Home Featured Posts -->
{% assign featured_posts = site.posts | where:"is_featured",true %}

{% unless featured_posts == empty %}
<section class="border-bottom home__featured__posts snow-background">
  <div class="grid-x grid-padding-x margin-top-2">
    <div class="cell small-12 large-6 large-offset-3 text-center">
      <h3 class="margin-top-0">Latest news, events and resources</h3>
    </div>
    <div class="cell small-12 large-3">
      <ul class="horizontal menu align-right sans-bold">
        <li>
          <a href="https://anchor.fm/open-ownership" target="_blank" class="external">
            <svg class="icon">
              <use xlink:href="/assets/icons/symbol-defs.svg#icon-audio"></use>
            </svg>
            Podcast
          </a>
        </li>
        <li>
          <a href="https://mailchi.mp/440be76e70f3/the-record-landing-page" target="_blank" class="external">
            <svg class="icon">
              <use xlink:href="/assets/icons/symbol-defs.svg#icon-article"></use>
            </svg>
            Newsletter
          </a>
        </li>
      </ul>
    </div>
  </div>
  
    <div class="grid-x grid-padding-x grid-padding-y" data-equalizer data-equalize-by-row="true">
      {% for post in featured_posts limit: 3 %}
        <div class="cell small-12 medium-6 large-4 home__featured__post">
          <div class="callout shadow large shadow--{{post.categories[0] | slugify}}" data-equalizer-watch>
            {% if post.image %}
              {% assign image = post.image %}
              <div class="light-gray-background image" data-interchange="{% include images/interchange-img-small-12-medium-6-cell.html %}"></div>
            {% endif %}
            <h4><a href="{{post.url}}">{{post.title}}</a></h4>
            <p><span class="label text-capitalize label--{{post.categories[0] | slugify}}">{{ post.categories[0] }}</span></p>
            <p class="h5 sans-regular medium-gray">{% if post.author %}{{ post.author }} · {% endif %}{{ post.date | date: site.date_format }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endunless %}
<!-- End Home Featured Posts -->