---
layout: default
---

<!-- Home Intro -->
<div class="grid-x grid-padding-x grid-padding-y primary-background">

  <div class="small-12 cell text-center">
    <h1 class="padding-bottom-2">Ending anonymous company ownership</h1>
    <div class="button-group align-center show-for-medium">
      <a class="button" href="/what-we-do">Learn more</a>
      <a class="button" href="/get-involved">Get Involved</a>
      <a class="button" href="https://register.openownership.org/">View the OpenOwnership Register</a>
    </div>
    <div class="button-group stacked-for-small align-center show-for-small-only">
      <a class="button" href="/what-we-do">Learn more</a>
      <a class="button" href="/get-involved">Get Involved</a>
      <a class="button" href="https://register.openownership.org/">View the OpenOwnership Register</a>
    </div>
  </div>

</div>
<!-- End Home Intro -->

<!-- Home Description -->
<section class="secondary-background">
    <div class="grid-x">
    
      <div class="small-12 medium-6 cell h5 sans-regular home__description__left small-order-2 medium-order-1">
        {{page.intro-text | markdownify}}
      </div>
      
      {% assign background-image = page.intro-image %}
      <div class="small-12 medium-6 cell text-center image--feature small-order-1 medium-order-2" {% include images/feature.html %}>
      </div>
    
    </div>
</section>
<!-- End Home Description -->

<!-- Home Why -->
<section class="primary-background">
  
  <div class="grid-container">
    <div class="grid-x home__why align-center">
    
      <div class="small-12 medium-10 cell">
        <h3>{{page.why-title}}</h3>
        <div class="h5 sans-regular">
        {{page.why-text | markdownify}}
        </div>
        <a class="button hollow white" href="/resources">View our beneficial ownership resources</a>
      </div>
    
    </div>
  </div>

</section>
<!-- End Home Why -->

<!-- Home Priorities -->
<section class="secondary-background">
    <div class="grid-x grid-padding-x grid-padding-y">
    
      <div class="small-12 medium-6 cell h5 sans-regular home__description__left small-order-2 medium-order-1">
        <h3>{{page.priorities-title}}</h3>
        <div class="h5 sans-regular">
        {{page.priorities-text | markdownify}}
        </div>
        <a class="button hollow white" href="/what-we-do">Learn more about what we do</a>
      </div>
    
      {% assign background-image = page.priorities-image %}
      <div class="small-12 medium-6 cell text-center image--feature small-order-1 medium-order-2" {% include images/feature.html %}>
      </div>
    
    </div>
</section>
<!-- End Home Priorities -->

<!-- Home Support + Funding -->
<div class="grid-x grid-padding-x grid-padding-y align-justify">
  <div class="small-12 medium-8 cell">
  <h3>{{page.support-title}}</h3>
  <div class="h5 sans-regular">
  {{page.support-text | markdownify}}
  </div>
  </div>
</div>
<!-- End Home Support + Funding -->