---
layout: default
---

<!-- Page Title -->
{% include blocks/title.html %}
<!-- End Page Title -->

<!-- Page Content -->
{% include blocks/content.html %}
<!-- End Page Content -->

<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 cell">
      <div class="world-map"></div>
    </div>

    <div class="small-12 cell">
      {% for country in site.data.countries %}
        {% if country['commitments'] and country['commitments'] != blank %}
          <div class="country" id="{{ country['iso2'] }}">
            <h2 class="country_name">{{ country['name'] }}</h2>
            <p class="country_commitments" data-commitments="{{ country['commitments'] }}">Commitments: {{ country['commitments'] }}</p>
            {% if country['involvement'] and country['involvement'] != blank %}
              {% assign capital = site.data.country_capitals | where: "iso2", country.iso2 | first %}
              <p class="country_involvement"
                 data-involvement="{{country['involvement']}}"
                 data-location="{{capital.lat}},{{capital.lon}}">
                OpenOwnership involvement: {{ country['involvement'] }}
              </p>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
