---
layout: default
---

<!-- Page Title -->
{% include blocks/title.html %}
<!-- End Page Title -->

<!-- Page Content -->
{% include blocks/content.html %}
<!-- End Page Content -->

<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-right map-filters">
    <div class="small-12 medium-8 large-3 cell">
      <label for=""commitment-filter" class="text-right middle">Show countries with:</label>
    </div>
    <div class="small-12  medium-4 large-3 cell">
        <select id='commitment-filter' name="commitment">
          <option value="">Any commitment</option>
          <option value="central">Commitments to a central register</option>
          <option value="public">Commitments to a public register</option>
        </select>
    </div>
  </div>
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 cell">
      <div class="world-map">
        <noscript>Sorry, you need javascript enabled to see a map of countries.</noscript>
      </div>
    </div>
  </div>
</section>

<section class="snow-background padding-top-2 padding-bottom-1">
  <div class="grid-container">
    <div class="grid-x grid-padding-x countries-grid" data-equalizer>
      {% for country in site.data.countries %}
        {% if country.commitments or country.involvement %}
          <div class="small-12 medium-4 cell padding-1 country central current" id="{{country.iso2}}">
            <div class="callout shadow large" data-equalizer-watch>
              <h2 class="country_name">{{ country['name'] }}</h2>
              {% if country.commitments %}
                <p class="country_commitments" data-commitments="{{ country['commitments'] }}">Commitments: {{ country['commitments'] }}</p>
              {% endif %}
              {% if country.involvement %}
                {% assign capital = site.data.country_capitals | where: "iso2", country.iso2 | first %}
                <p class="country_involvement"
                  data-involvement="{{country['involvement']}}"
                  data-location="{{capital.lat}},{{capital.lon}}">
                  OpenOwnership involvement: {{ country['involvement'] }}
                </p>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
