---
layout: default
---
<!-- Page Title -->
{% include blocks/title.html %}
<!-- End Page Title -->

<!-- Page Content -->
{% include blocks/content.html %}
<!-- End Page Content -->

<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 large-8 cell">

      <h2>Sign up</h2>

      <!-- Begin Mailchimp Signup Form -->
      <form
        action="https://openownership.us19.list-manage.com/subscribe/post?u=5a522bc71b24b7202b6bf2c95&amp;id=57602bb40c"
        method="post"
        target="_blank"
        class="mailchimp-form"
        novalidate>

        <label for="mce-EMAIL">Email Address</label>
        <input type="email" value="" name="EMAIL" id="mce-EMAIL"/>

        <label>Marketing Permissions</label>

        <p>Please let us know all the ways you would like to hear from us.</p>

        <fieldset name="interestgroup_field">
          <label for="gdpr_32157">
            <input type="checkbox" id="gdpr_32157" name="gdpr[32157]" value="Y" checked/>
            Email
          </label>
        </fieldset>

        <p>
          We will treat your information with respect. You can change your mind at
          any time by clicking the unsubscribe link in the footer of any email you
          receive from us, or by contacting us at support@openownership.org. For
          more information about our privacy practices please visit our website.
          By subscribing, you agree to receive the selected emails from us.
        </p>

        <p>
          We use Mailchimp as our marketing platform. By clicking below to
          subscribe, you acknowledge that your information will be transferred
          to Mailchimp for processing.
          <a href="https://mailchimp.com/legal/" target="_blank">Learn more
          about Mailchimp's privacy practices here.</a>
        </p>

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_5a522bc71b24b7202b6bf2c95_57602bb40c" tabindex="-1" value=""/>
        </div>

        <p>
          <button type="submit" class="button">Subscribe</button>
        </p>

      </form>
      <!-- End Mailchimp Signup Form -->

      <h2>Archive</h2>

      <!-- Mailchimp archive -->
      <!-- <script language="javascript" src="//openownership.us19.list-manage.com/generate-js/?u=5a522bc71b24b7202b6bf2c95&fid=6301&show=10" type="text/javascript"></script> -->
      <!-- End Mailchimp archive -->
    </div>
  </div>
</section>
