---
layout: default
---

<!-- Page Title -->
<section class="grid-container">
  <div class="grid-x grid-padding-x padding-top-3 padding-bottom-2">
    <div class="small-12 cell">
      <h1>{{page.title}}</h1>
    </div>
  </div>
</section>
<!-- End Page Title -->

<!-- Page Content -->
<section class="grid-container padding-bottom-2">
  {% for post in paginator.posts %}

      <div class="grid-x grid-padding-y border-top">
        <div class="small-12 cell">
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <div class="medium-gray">{% if post.author %}{{ post.author }} · {% endif %}{{ post.date | date: site.date_format }}</div>
        </div>
      </div>
  
      {% if post.feature-image %}
      <div class="grid-x">
        <div class="small-12 cell">
        <a href="{{ post.url }}">

{% assign image = post.feature-image %}
<img data-interchange=
"
[{{ image | imgix_url: w: 640, h: 360, fit: "max", auto: "format", auto: "compress", lossless: "true", q: 50, fit: "crop", dpr: 1}}, small]
[{{ image | imgix_url: w: 1024, h: 576, fit: "max", auto: "format", auto: "compress", lossless: "true", q: 40, fit: "crop", dpr: 1}}, medium]
[{{ image | imgix_url: w: 1200, h: 675, fit: "max", auto: "format", auto: "compress", lossless: "true", q: 50, fit: "crop", dpr: 1}}, large]
[{{ image | imgix_url: w: 1440, h: 810, fit: "max", auto: "format", auto: "compress", lossless: "true", q: 50, fit: "crop", dpr: 1}}, xlarge]
"
>

</a>
        </div>
      </div>
      {% endif %}
  
      {% if post.feature-image-caption %}
      <div class="grid-x margin-top-1">
        <div class="small-12 cell serif-italic medium-gray">
        <small>{{post.feature-image-caption}}</small>
        </div>
      </div>
      {% endif %}

      <div class="grid-x grid-padding-y">
        <div class="small-12 cell">
        <p>{{ post.excerpt | strip_html | truncatewords:40 }}</p>
        </div>
      </div>


      <div class="grid-x margin-bottom-1">
        <div class="small-12 cell">
        <a class="button" href="{{ post.url }}">Continue reading</a>
        </div>
      </div>

  {% endfor %}
</section>
<!-- End Page Content -->

<!-- Pagination -->  
{% include pagination-news.html %}
<!-- End Pagination -->