---
layout: default
---

<!-- Page Title -->
<section class="grid-container">
  <div class="grid-x grid-padding-x padding-vertical-3">
    <div class="small-12 cell">
      <h1>{{page.title}}</h1>
    </div>
  </div>
</section>
<!-- End Page Title -->

<!-- Page Content -->
<section class="grid-container">
  {% for post in paginator.posts %}
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell border-top">
    
      <div class="grid-x grid-padding-y">
        <div class="small-12 cell serif-italic medium-gray">
          <h2 class="padding-bottom-1"><a href="{{ post.url }}">{{ post.title }}</a></h2>
          {% if post.author %}{{ post.author }} · {% endif %}{{ post.date | date: site.date_format }}
        </div>
      </div>
  
      {% if post.feature-image %}
      <div class="grid-x grid-padding-y">
        <div class="small-12 cell">
        <a href="{{ post.url }}"><img class="feature-image" src="{{post.feature-image}}"></a>
        </div>
      </div>
      {% endif %}
  
      {% if post.feature-image-caption %}
      <div class="grid-x padding-vertical-1">
        <div class="small-12 cell serif-italic medium-gray">
        <small>{{post.feature-image-caption}}</small>
        </div>
      </div>
      {% endif %}

      <div class="grid-x">
        <div class="small-12 cell">
        <p>{{ post.excerpt | truncatewords:40 }}</p>
        </div>
      </div>


      <div class="grid-x">
        <div class="small-12 cell">
        <a class="button" href="{{ post.url }}">Continue reading</a>
        </div>
      </div>

    </div>
  </div>
  {% endfor %}
</section>
<!-- End Page Content -->

<!-- Pagination -->  
{% include pagination-news.html %}
<!-- End Pagination -->