---
layout: default
---

<!-- Post Title -->
<section class="grid-container">
  <div class="grid-x grid-padding-x padding-vertical-3">
    <div class="small-12 cell">
      <h1>{{page.title}}</h1>
      {% if page.author %}<div class="medium-gray">By {{ page.author }}</div>{% endif %}
      <div class="medium-gray">{{ page.date | date: site.date_format }}</div>
    </div>
  </div>
</section>
<!-- End Post Title -->

<!-- Post Content -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell border-top">
      {% if page.feature-image %}
          {% assign image = page.feature-image %}
          <img data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}">
      {% endif %}
    </div>
  </div>
</section>
<!-- End Post Title -->

<!-- Post Content -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell">

    {{ page.content | replace: "/uploads", "https://open-ownership.imgix.net/uploads" }}

    </div>
  </div>
</section>
<!-- End Post Title -->

<!-- Pagination -->  
{% include pagination-post.html %}
<!-- End Pagination -->