---
layout: default
---

<!-- Post Title -->
<section class="grid-container">
  <div class="grid-x grid-padding-x padding-vertical-3 border-bottom">

    <div class="small-12 cell">
      <h1>{{ page.title }}</h1>
    </div>


    <div class="small-12 medium-shrink cell">
      <div class="margin-right-1 medium-gray">
      {% if page.author %}{{ page.author }} · {% endif %}{{ page.date | date: site.date_format }}
      </div>
    </div>

    {% include blocks/categories.html categories=page.categories %}
  </div>
</section>
<!-- End Post Title -->

<!-- Post Content -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell">
      {% if page.image %}
          {% assign image = page.image %}
          <div class="light-gray-background image" data-interchange="{% include images/interchange-img-small-12-medium-6-cell.html %}"></div>
      {% endif %}
    </div>
  </div>
</section>
<!-- End Post Title -->

<!-- Post Content -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-8 cell">

    {{ page.content }}

    </div>
  </div>
</section>
<!-- End Post Title -->

<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-8 cell">
      {% include blocks/tags.html tags=page.tags %}
    </div>
  </div>
</section>

<!-- Pagination -->
{% include pagination/post.html %}
<!-- End Pagination -->
