---
layout: default
---

<section class="principles__page">

  <!-- Page Title -->
  <section class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y page__title border-bottom">
      <div class="small-12 medium-10 large-8 cell">
        <h1 class="h3 margin-top-0"><a href="/principles">The Open Ownership Principles</a> &mdash; {{ page.title }}</h1>
        <aside class="medium-gray small">Last updated: {{ page.date | date: "%B %Y" }}</aside>
      </div>
    </div>
  </section>
  <!-- End Page Title -->

  <!-- Page Content -->
  {% unless page.content == '' %}
  <section class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="large-3 cell">
      	{% include blocks/principles-index.html  %}
      </div>

      <div class="large-9 cell">
        <h2>{{ page.full-title }}</h2>

        <div class="text-body">
          <div class="lead margin-bottom-2 margin-top-2">
            {{ page.summary_version | markdownify }}
          </div>

          {{ content }}

        </div>

        {% capture guides -%}
          {%- for guide in site.guide -%}
            {%- if guide.principles contains page.title -%}
              <li class="margin-right-1 margin-bottom-1">
                <a class="button white" href="{{ guide.url }}">
                  {{ guide.position | prepend: '0' }}
                  {{ guide.title }}
                  <svg class="icon icon-arrow icon-arrow-right">
                    <use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use>
                  </svg>
                </a>
              </li>
            {%- endif -%}
          {%- endfor -%}
        {%- endcapture -%}

        {% if guides.size > 0 %}
          <hr />
          <h2>Implementation Guide</h2>
          <p>This OO Principle is particularly relevant in the following aspects of implementation. These correspond to steps in our <a href="/guide">Implementation Guide</a>.</p>
          <ul class="menu margin-bottom-2">
            {{ guides }}
          </ul>
        {% endif %}


        {% assign tag = page.title | downcase %}
        {% assign resource_tags =  site.resources | map: 'tags' | join: ','  | downcase | split: ',' | uniq %}
        <hr/>
        {% if resource_tags contains tag %}
          <h2>Resources</h2>
          <div class="grid-x grid-padding-x grid-padding-y">
            {% for resource in site.resources %}
              {% assign tags = resource.tags | join: ',' | downcase | split: ',' | uniq %}
              {% if tags contains tag %}
                {% include blocks/resource.html resource=resource %}
              {% endif %}
            {% endfor %}
          </div>
        {% else %}
          <h2>Learn more</h2>
          <p>
            We will shortly be publishing new resources that provide detail on putting this principle into practice. In the meantime, please <a href="mailto:support@openownership.org">get in touch with our technical assistance team</a> for support and advice.
          </p>
        {% endif %}
      </div>
    </div>
  </section>
  {% endunless %}
  <!-- End Page Content -->
</section>
