---
layout: default
---

<section class="principles__page">

  <!-- Page Title -->
  <section class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y page__title border-bottom">
      <div class="small-12 medium-10 large-8 cell">
        <h1>{{page.component | captialize}}</h1>
      </div>
    </div>
  </section>
  <!-- End Page Title -->

  <!-- Page Content -->
  {% unless page.content == '' %}
  <section class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-3 cell">
      	{% include blocks/principles-index.html  %}
      </div>

      <div class="small-9 cell">
        <h2>{{ page.title }}</h2>

        {{page.summary_version | markdownify}}

        {{page.content | markdownify}}

        {% if page.guides.size > 0 %}
          <hr />
          <h2>Implementation steps</h2>
          <p>The following are key steps when implementing this Principle. These correspond to steps in our <a href="/guide">Implementation Guide</a>.</p>

          <ul class="menu margin-bottom-3">
            {% for guide in page.guides %}

              {% assign g = site.guide | find: "title", guide %}
              {% if g %}

                <li class="margin-right-1">
                  <a class="button white" href="{{ g.url }}">
                    {{ g.position | prepend: '0' }}
                    {{ g.title }}
                    <svg class="icon icon-arrow icon-arrow-right">
                      <use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                  </a>
                </li>

              {% endif %}

            {% endfor %}
          </ul>
        {% endif %}


        {% assign tag = page.component | downcase %}
        {% assign resource_tags =  site.resources | map: 'tags' | join: ','  | split: ',' | uniq %}

        <hr/>
        {% if resource_tags contains tag %}
          <h2>Resources</h2>

          {% for resource in site.resources %}
            {% if resource.tags contains tag %}
              {% include blocks/resource.html resource=resource %}
            {% endif %}
          {% endfor %}
        {% else %}
          <h2>Learn more</h2>
          <p>
            We will shortly be publishing new resources that provide detail on putting this principle into practice. In the meantime, please <a href="mailto:support@openownership.org">get in touch with our technical assistance team</a> for support and advice.
          </p>
        {% endif %}
      </div>
    </div>
  </section>
  {% endunless %}
  <!-- End Page Content -->
</section>
