---
layout: default
---

<!-- Page Title -->
{% include blocks/title.html %}
<!-- End Page Title -->

<!-- Resources Grid -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 cell resource-filters padding-bottom-0 margin-bottom-0">
      <p id="topics-filter-selected-notice" class="medium-4 cell hide">
        Showing only: <strong id="topics-filter-selected"></strong> (<a href="/resources/">clear</a>)
      </p>
      <p class="margin-bottom-0">
        <label for="types-filter">
          Filter by:
        </label>
      </p>
    </div>
    <div class="medium-4 cell resource-filters">
      <select id="types-filter" name="type">
        {% assign resource_types =  site.resources | map: 'resource_type' | uniq | sort %}
        <option value="">Any type</option>
        {% for type in resource_types %}
          <option value="{{type | slugify}}">{{type | capitalize}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="medium-4 cell resource-filters">
      <select id="categories-filter" name="category">
        {% assign resource_cats =  site.resources | map: 'categories' | join: ',' | split: ',' | uniq | sort %}
        <option value="">Any category</option>
        {% for cat in resource_cats %}
          <option value="{{cat | slugify}}">{{cat | capitalize}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="medium-4 cell resource-filters">
      <select id="languages-filter" name="language">
        {% assign languages = "" | split: "," %}
        {% for resource in site.resources %}
          {% for file in resource.files %}
            {% assign languages =  languages | push: file[0] %}
          {% endfor %}
        {% endfor %}
        {% assign unique_languages = languages | uniq %}
        <option value="">Any language</option>
        {% for language in unique_languages %}
          <option value="{{language}}">{{ site.data.language_names[language]['name'] | capitalize }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="resource-filters hide">
      <select id="topics-filter" name="topic">
        {% assign resource_tags =  site.resources | map: 'tags' | join: ',' | split: ',' | uniq | sort %}
        <option value="">Any topic</option>
        {% for tag in resource_tags %}
          <option value="{{tag | slugify}}">{{tag | capitalize}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</section>

<section class="grid-container padding-bottom-3 resources">

  <p class="no-resources-message">There are no resources which match your filters.</p>

  <div class="grid-x grid-padding-x grid-padding-y">
    {% assign resources = site.resources | sort: "date" | reverse %}
    {% for resource in resources  %}
      
        {% include blocks/resource.html resource=resource grid="large-6" %}

    {% endfor %}
  </div>

</section>

<!-- End Resources Grid -->
