---
layout: default
---

<!-- Page Title -->
{% include blocks/title.html %}
<!-- End Page Title -->

<!-- Page Content -->
{% include blocks/content.html %}
<!-- End Page Content -->

<!-- Resources Grid -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 cell resource-filters padding-bottom-0 margin-bottom-0">
      <p class="margin-bottom-0"><label for="resource-type-filter">Show resources:</label></p>
    </div>
    <div class="small-12 medium-4 cell resource-filters">
      <select id="resource-type-filter" name="resource-type">
        <option value="">In any category</option>
        <option value="tools">Tools</option>
        <option value="briefings">Briefings</option>
        <option value="presentations">Presentations</option>
        <option value="reports">Reports</option>
        <option value="summaries-factsheets">Summaries & Factsheets</option>
        <option value="consultations">Consultations</option>
        <option value="charters-principles-mission-statements">Charters, Principles & Mission Statements</option>
      </select>
    </div>
    <div class="small-12 medium-4 cell resource-filters">
      <select id="topics-filter" name="topic">
        {% assign resource_tags =  site.resources | map: 'tags' | join: ',' | split: ',' | uniq | sort %}
        <option value="">On any topic</option>
        {% for tag in resource_tags %}
          <option value="{{tag | slugify}}">{{tag | capitalize}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="small-12 medium-4 cell resource-filters">
      <select id="languages-filter" name="language">
        {% assign languages = "" | split: "," %}
        {% for resource in site.resources %}
          {% for file in resource.files %}
            {% assign languages =  languages | push: file[0] %}
          {% endfor %}
        {% endfor %}
        {% assign unique_languages = languages | uniq %}
        <option value="">In any language</option>
        {% for language in unique_languages %}
          <option value="{{language}}">{{ site.data.language_names[language]['name'] | capitalize }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</section>

<section class="grid-container padding-bottom-3">
  {% assign featured_resources = site.resources | where:"is_featured", true %}
  {% assign other_resources = site.resources | where:"is_featured", false %}
  {% assign sorted_featured_resources = featured_resources | sort:"position", "last" %}
  {% assign sorted_other_resources = other_resources | sort:"date" | reverse %}
  {% for resource in sorted_featured_resources %}
    {% include blocks/resource.html resource=resource %}
  {% endfor %}
  {% for resource in sorted_other_resources %}
    {% include blocks/resource.html resource=resource %}
  {% endfor %}
</section>
<!-- End Resources Grid -->
