---
layout: default
---

<div class="container-fluid page get-involved">

  <div class="row">
    <div class="col-md-12">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="content">
        {{ content }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3 class="group-header">Project team</h3>

      <div class="member-groups">

        <div class="team-member">
          <img src="/uploads/aimen.jpg">
          <div class="member-description">
            <h4 class="member-name">Aimen Chouchane</h4>
            <h5 class="member-title">Communications Associate</h5>
          </div>
        </div>
        <div class="team-member">
          <img src="/uploads/aimen.jpg">
          <div class="member-description">
            <h4 class="member-name">Aimen Chouchane</h4>
            <h5 class="member-title">Communications Associate</h5>
          </div>
        </div>
        <div class="team-member">
          <img src="/uploads/aimen.jpg">
          <div class="member-description">
            <h4 class="member-name">Aimen Chouchane</h4>
            <h5 class="member-title">Communications Associate</h5>
          </div>
        </div>
        <div class="team-member">
          <img src="/uploads/aimen.jpg">
          <div class="member-description">
            <h4 class="member-name">Aimen Chouchane</h4>
            <h5 class="member-title">Communications Associate</h5>
          </div>
        </div>
        <div class="team-member">
          <img src="/uploads/aimen.jpg">
          <div class="member-description">
            <h4 class="member-name">Aimen Chouchane</h4>
            <h5 class="member-title">Communications Associate</h5>
          </div>
        </div>

      </div>

    </div>

    <div class="col-md-12">
      <hr>
    </div>

    <div class="col-md-12">
      <h3 class="group-header">BODS development</h3>

      <div class="member-groups">

        <div class="team-member">
          <img src="/uploads/aimen.jpg">
          <div class="member-description">
            <h4 class="member-name">Aimen Chouchane</h4>
            <h5 class="member-title">Communications Associate</h5>
          </div>
        </div>
        <div class="team-member">
          <img src="/uploads/aimen.jpg">
          <div class="member-description">
            <h4 class="member-name">Aimen Chouchane</h4>
            <h5 class="member-title">Communications Associate</h5>
          </div>
        </div>
        <div class="team-member">
          <img src="/uploads/aimen.jpg">
          <div class="member-description">
            <h4 class="member-name">Aimen Chouchane</h4>
            <h5 class="member-title">Communications Associate</h5>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
