---
layout: default
---

<!-- Page Title -->
<section class="grid-container">
  <div class="grid-x grid-padding-x padding-vertical-3">
    <div class="small-12 cell">
      <h1>{{page.title}}</h1>
      {{ page.content }}
    </div>
  </div>
</section>
<!-- End Page Title -->

<!-- Page Content -->
<section class="grid-container padding-bottom-3 team__members">

  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-3" data-equalizer data-equalize-on-stack="false">
  {% assign sorted_team = site.team | sort:"position" %}
  {% for member in sorted_team %}
    <div class="cell">
      
      {% if member.image %}
      <div class="card" data-equalizer-watch>

          <img src="{{ member.image }}">

      </div>
      {% else %}
      <div class="card" data-equalizer-watch>
      <div class="grid-y align-center height-100">
        <div class="shrink cell">
          <div class="card-section text-center">
            <svg class="icon icon-user"><use xlink:href="/assets/icons/symbol-defs.svg#icon-user"></use></svg>
          </div>
        </div>
      </div>
      </div>
     {% endif %}

      <h5 class="sans-bold">{{member.title}}</h5>
      <h6 class="sans-regular medium-gray margin-bottom-1">{{member.job-title}}</h6>
      {{member.content}}
      <ul class="menu">
      {% for item in member.social %}  
      <li><a href="{{ item[1] }}" target="_blank" rel="noopener" class="padding-left-1"><span class="show-for-sr">{{ item[0] }}</span><svg class="icon icon-socials icon-{{ item[0] }}"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{ item[0] }}"></use></svg></a></li>
      {% endfor %} 
      </ul>

    </div>
  {% endfor %}

  </div>

</section>
<!-- End Page Content -->