---
layout: default
---

<section class="framework__page">
  <!-- Page Title -->
  {% include blocks/title.html  %}
  <!-- End Page Title -->
  <!-- Page Content -->
  {% unless page.content == '' %}
  <section class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-3 cell">
        <!-- menu -->
        <ul>
          <li><a href="/visualisation">BOVS 1.0</a></li>
          <li>
            <a href="/visualisation/core">Core Rules</a></li>
            <ul>
              <li><a href="/visualisation/core/definitions">Definitions</a></li>
              <li><a href="/visualisation/core/vocabulary">Vocabulary and Icons</a></li>
              <li><a href="/visualisation/core/parties-nodes">Parties (Nodes)</a></li>
              <li><a href="/visualisation/core/interests-arrows">Interests (Arrows)</a></li>
              <li><a href="/visualisation/core/directionality">Directionality</a></li>
              <li><a href="/visualisation/core/focus-distance">Focus and Distance</a></li>
              <li><a href="/visualisation/core/relevance">Relevance</a></li>
              <li><a href="/visualisation/core/stacks">Stacks</a></li>
              <li><a href="/visualisation/core/unknowns">Unknowns</a></li>
            </ul>
            <li>
              Further Rules
              <ul>
                <li><a href="/visualisation/optional/chirality">Chirality</a></li>
                <li><a href="/visualisation/core/summarisation">Summarisation</a></li>
              </ul>
            </li>
            <li>
              <a href="/visualisation/optional">Optional Features</a>
              <ul>
                <li><a href="/visualisation/optional/annotation">Annotation</a></li>
                <li><a href="/visualisation/optional/colour">Colour</a></li>
                <li><a href="/visualisation/optional/charts">Charts</a></li>
                <li><a href="/visualisation/optional/metadata">Metadata</a></li>
              </ul>
            </li>
            <li><a href="/visualisation/resources">Resources</a></li>
            <li><a href="/visualisation/design-principles">Design Principles</a></li>
            <li><a href="/visualisation/changelog">Version History</a></li>
          </ul>
        </ul>
      </div>
      <div class="small-9 cell">
        {{ content }}
      </div>
    </div>
  </section>
  {% endunless %}
  <!-- End Page Content -->
</section>