---
layout: default
---

<section class="framework__page">
  <!-- Page Title -->
  {% include blocks/title.html  %}
  <!-- End Page Title -->
  <!-- Page Content -->
  {% unless page.content == '' %}
  <section class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-3 cell">
        <!-- menu -->
        <ul>
          <li><a href="/visualisation">BOVS</a></li>
          <li><a href="/visualisation/core">Core Rules</a></li>
          <li>
            <a href="/visualisation/optional">Optional Features</a>
            <ul>
              <li><a href="/visualisation/optional/annotation">Annotation</a></li>
              <li><a href="/visualisation/optional/colour">Colour</a></li>
              <li><a href="/visualisation/optional/charts">Charts</a></li>
              <li><a href="/visualisation/optional/metadata">Metadata</a></li>
            </ul>
          </li>
          <li><a href="/visualisation/resources">Resources</a></li>
          <li><a href="/visualisation/design-principles">Design Principles</a></li>
          <li><a href="/visualisation/changelog">Version History</a></li>
        </ul>
        </ul>
      </div>
      <div class="small-9 cell">
        {{ content }}
      </div>
    </div>
  </section>
  {% endunless %}
  <!-- End Page Content -->
</section>