---
layout: default
---

<section class="framework__page">
  <!-- Page Title -->
  {% include blocks/title.html  %}
  <!-- End Page Title -->
  <!-- Page Content -->
  {% unless page.content == '' %}
  <section class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-3 cell">
        <!-- menu -->
        <a href="/visualisation">BOVS 1.0</a>
        <ul>
          <li>
            <a href="/visualisation/core">Core Rules</a>
            <ul>
              <li><a href="/visualisation/core/definitions">Definitions</a></li>
              <li><a href="/visualisation/core/vocabulary">Vocabulary and Icons</a></li>
              <li><a href="/visualisation/core/parties-nodes">Parties (Nodes)</a></li>
              <li><a href="/visualisation/core/interests-arrows">Interests (Arrows)</a></li>
              <li><a href="/visualisation/core/directionality">Directionality</a></li>
              <li><a href="/visualisation/core/focus-depth">Focus</a></li>
              <li><a href="/visualisation/core/relevance">Relevance</a></li>
              <li><a href="/visualisation/core/stacks">Stacks</a></li>
              <li><a href="/visualisation/core/unknowns">Unknowns</a></li>
              <li><a href="/visualisation/core/chirality">Chirality</a></li>
              <li><a href="/visualisation/core/summarisation">Summarisation</a></li>
            </ul>
          </li>
          <li>
            <a href="/visualisation/optional">Optional Features</a>
            <ul>
              <li><a href="/visualisation/optional/annotation">Annotation</a></li>
              <li><a href="/visualisation/optional/colour">Colour</a></li>
              <li><a href="/visualisation/optional/weight">Line Weight</a></li>
              <li><a href="/visualisation/optional/charts">Charts</a></li>
              <li><a href="/visualisation/optional/metadata">Metadata</a></li>
            </ul>
          </li>
          <li><a href="/visualisation/resources">Resources</a></li>
          <li><a href="/visualisation/principles">Design Principles</a></li>
          <li><a href="/visualisation/changelog">Version History</a></li>
        </ul>
          {% assign menu = site.visualisation %}
          {% assign menu = menu | sort: 'position' %}
          {% include pagination/prevnext.liquid collection=menu wrap=false %}
      </div>
      <div class="small-9 cell">
        {{ content }}
      </div>
    </div>
  </section>

  {% include pagination/visualisation.html %}

  {% endunless %}
  <!-- End Page Content -->
</section>