---
layout: default
---

<!-- Page Title -->
<section class="grid-container">
  <div class="grid-x grid-padding-x padding-top-3">
    <div class="small-12 medium-10 large-10 cell">
      <h1>{{page.title}}</h1>
    </div>
  </div>
</section>
<!-- End Page Title -->

<!-- Page Content -->
<section class="grid-container">
  {% for service in page.services %}
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell border-top">
      <h5 class="sans-bold">{{service.title}}</h5>
      {{service.text | markdownify}}
      <a class="button" href="{{service.link}}">{{service.button}}</a>
    </div>
  </div>
  {% endfor %}
</section>
<!-- End Page Content -->