---
layout: default
---

<!-- Page Title -->
{% include blocks/title.html %}
<!-- End Page Title -->

<!-- Page Content -->
{% include blocks/content.html %}
<!-- End Page Content -->

<!-- What We Do Grid -->
<section class="grid-container">
  {% for service in page.services %}
    <div class="callout shadow">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="cell shrink">
          <svg class="icon icon-services icon-{{service.icon}}">
            <use xlink:href="/assets/icons/symbol-defs.svg#icon-{{service.icon}}"></use>
          </svg>
        </div>
        <div class="cell medium-auto">
          <h3 class="serif-bold margin-top-0">{{service.title}}</h3>
          {{service.text | markdownify}}
        </div>
      </div>
    </div>
  {% endfor %}
</section>
<!-- End What We Do Grid -->

{% unless page.conclusion == '' %}
  <section class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-12 cell">
        {{page.conclusion | markdownify}}
      </div>
    </div>
  </section>
{% endunless %}
