---
layout: default
---

<!-- Page Title -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 medium-10 large-8 cell padding-top-2">
      <h1>{{page.title}}</h1>
      <h5 class="sans-regular">{{page.content}}</h5
    </div>
  </div>
</section>
<!-- End Page Title -->

<!-- Page Content -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y" data-equalizer data-equalize-by-row="true">
  {% for service in page.services %}
    <div class="small-12 medium-6 cell">
      <div class="callout shadow large" data-equalizer-watch>

        <div class="grid-y align-justify height-100">
          <div class="shrink cell text-center">
            <img src="{{service.image}}" class="margin-bottom-2">
            <h3 class="serif-bold text-center">{{service.title}}</h3>
            {{service.text | markdownify}}
          </div>
          <div class="shrink cell">
            <a class="button expanded" href="{{service.link}}">{{service.button}}</a>
          </div>
        </div>

      </div>
    </div>
  {% endfor %}
  </div>
</section>
<!-- End Page Content -->